[2019-07-12 07:15] monperrus commented on #230
Good to read from you @greg4cr!

The Java7/Java8 behavioral difference is indeed a known problem for Defects4J and program repair experiments that has hit us several times! We're all waiting for the JDK8 version of D4J :-)

And thanks for the super interesting pointer to the universal interface. When is this branch planned to be merged in master?

[2019-07-12 07:18] Greg4cr commented on #230
@monperrus Not sure. I'd say probably not long. I think it needs some tweaks, but is largely in place. Depends on when @rjust gets a chance to polish it up. :)

[2019-07-16 21:21] F-said opened #231 "Chart Project Build Failed"
Hi!

I'm attempting to compile all the bugs from the Chart project but keep running into an error:

<img width="927" alt="Screen Shot 2019-07-16 at 4 27 23 PM" src="https://user-images.githubusercontent.com/26397102/61330551-df7b5380-a7ed-11e9-8d51-98d8e8dd609c.png">

I'm using macOS High Sierra with java version 1.8.0_131

All other projects compile successfully. Thank you for any help.

[2019-07-17 17:58] rjust commented on #231
Hi @F-said,

Thanks for reporting this.

Can you please let us know what version of Git and SVN you are using?

Thanks,
René

[2019-07-17 18:35] F-said commented on #231
Thank you for your reply!

My git version is 2.17.2 (Apple Git-113) and my svn is version 1.10.0

[2019-07-17 18:51] jose commented on #231
Hi @F-said,

What version of D4J are you using?

Could you please try to run the following SVN commands and let me know what's the outcome of each one, i.e., whether they succeed or not?
[code]

--
Best,
Jose

[2019-07-17 23:17] F-said commented on #231
Hi @jose

I'm using the latest version of D4J (17a99e104def964ccf64be4d7e57abfb66520026) from master.

Both commands ran successfully for me.

[2019-07-17 23:40] jose commented on #231
Great, thanks. Can you try to apply the patch yourself?
[code]
Does the `patch` command return any error message?

[2019-07-22 19:10] F-said commented on #231
Hi @jose. The patch command doesn't return any errors for me.

<img width="799" alt="Screen Shot 2019-07-22 at 3 06 16 PM" src="https://user-images.githubusercontent.com/26397102/61658112-9ebe8700-ac92-11e9-93ec-4ed7f705310d.png">

However, after running `patch` and then trying to run `defects4j compile`  on "Chart_1", I still get an error

<img width="931" alt="Screen Shot 2019-07-22 at 3 08 27 P

[2019-07-22 20:55] jose commented on #231
Hi @F-said,

Interesting. I was betting this issue was related to the version of `patch`.

By just looking at the screenshot I can't see why it's failing. Can you please send me the complete output of `defects4j compile`?

--
Best,
Jose

[2019-07-24 18:42] F-said commented on #231
Hi @jose. Thank's a lot for your patience and continued help. The following is the output of 'defects4j compile' on 'Chart_1'. I get a similar error message for all other 'Chart' projects as well.

<img width="1425" alt="Screen Shot 2019-07-24 at 2 38 13 PM" src="https://user-images.githubusercontent.com/26397102/61819408-030f5100-ae21-11e9-853a-00545cb3febc.png">

I load the defects4j projects fr

[2019-07-24 20:28] jose commented on #231
Hi @F-said,

That error message is expected in your case. You did checkout `Chart-1` using the `svn` command and not the `defects4j checkout` command, therefore Defects4J does not know how to compile it. (I told you to use the `svn` command rather than the `defects4j checkout` command, just to understand whether the issue you initially reported was due to `svn` or `patch`. It does not seem to be e

[2019-07-25 06:34] F-said commented on #231
`framework/bin/defects4j checkout -p Chart -v 1b -w /tmp/issue_231/Chart-1b`

<img width="749" alt="Screen Shot 2019-07-25 at 2 26 24 AM" src="https://user-images.githubusercontent.com/26397102/61851158-2e775780-ae84-11e9-9b74-6f4ca0550340.png">

`framework/bin/defects4j compile -w /tmp/issue_231/Chart-1b`

<img width="752" alt="Screen Shot 2019-07-25 at 2 26 36 AM" src="https://user-images.github

[2019-07-25 06:53] jose commented on #231
Great, thanks @F-said. I'm glad the official version of D4J is working just fine.

So, was the issue you initially reported due to the following?

[2019-07-25 17:58] F-said commented on #231
Interesting. Hopefully, this will shed light on my issue. So when checking out and compiling the other defects4j bugs from the shell file, for example:

[code]
Everything compiles succesfully.

<img width="616" alt="Screen Shot 2019-07-25 at 3 08 29 AM" src="https://user-images.githubusercontent.com/26397102/61896507-21d61c00-aee3-11e9-946a-3bf6c62ca7d0.png">

However, when attempting to checkout

[2019-07-25 18:18] jose commented on #231
Hi @F-said,

Where can I find the D4J installation you're trying to use?

[2019-07-25 18:33] jose commented on #231
Is the shell script [this one](https://github.com/AutoProRepair/LSRepair/blob/master/Defects4jBugs/CreateAndCompileBuggyProjects.sh)?

[2019-07-25 18:40] F-said commented on #231
Yes! That's the one.

[2019-07-25 19:34] jose commented on #231
Ok, I'm really confused.

There is no way that script could ever work. For any project, not just Chart. First, `../Defects4JData` may or may not exist, the script does check if exists and neither creates it. Second, every single `cd ${proj}_${bug}` is incorrect. It should be `cd ${dir}${proj}_${bug}`.

Anyway, here is a more robust and complete shell script that you could use to checkout and compi

[2019-07-26 22:46] rjust commented on #228
Hi @nehagupta12,

Each bug in a Defects4J project refers to a particular snapshot (commit) in the development history of that project.

There is a temporal order (originally, the highest bug id referred to the oldest snapshot), and you can obtain the precise timestamp for each bug by running `defects4j info -p... -b...`.

For example for Chart-1 and Chart-2:
[code]

Note that the timestamp differe

[2019-08-19 09:45] anjiperera opened #232 "run_bug_detection.pl terminates with an error ClassNotFoundException: {test_class_name} logged in the {versionid}.{testid}.trigger.log files"
I'm running evosuite generated tests against fixed and buggy versions of (let's say) Lang27, to check whether they are able to detect the Lang27 bug. The tests were generated for the buggy version. Following is the command I've used.

`run_bug_detection.pl -p Lang -d . -o output -v 27b -D &`

The test suite is _Lang-27b-evosuite-branch.1.tar.bz2_, and it contains both NumberUtils_ESTest.java & Num

[2019-08-25 17:08] #204 closed

[2019-08-25 17:08] #225 closed

[2019-08-27 10:54] anjiperera commented on #232
Closing this as I found out the issue is actually because not having the test classes inside the test_suite directory as package structure.

[2019-08-27 10:54] #232 closed

[2019-08-30 10:13] Frenkymd commented on #42
Hi!

I just came across this issue lately. It is indeed a configuration/execution environment related problem. And, by the way, it can even happen using Ant. One just has to fiddle around a bit with the params of the JUnit Ant task.

I was trying to pass some arguments to the JVM inside the JUnit task therefore I had to make Ant respect my `<jvmarg />` tags by setting `fork` to `true` (the default

[2019-09-10 15:52] boyang9602 commented on #67
I met the same problem with the current version.
[code]
The error message is the same. Could you please try it? Thank you.
I'm on Ubuntu 18.04 with Java 1.7.0_80, perl5.26.1

[2019-09-10 22:02] boyang9602 commented on #190
@jose I have the same problem. Ubuntu 14.04, perl 5.18, java 1.7
I'm using a vm, with 1G memory. Any other information needed?

[code]

The first time I run the init.sh, there are some tools not installed, such as unzip and make. So I run it several times.

[2019-09-11 14:04] boyang9602 commented on #190
I solved it by removing the defects4j, downloading and initializing again.

[2019-09-18 21:32] boyang9602 commented on #190
@jose I found the root of this problem. when the get_repos.sh downloaded the repos but failed in other places, for example, you don't have unzip on your machine, of the scripts, it will exit because of ```[ "$old" == "$new" ] && exit 0``` next time you run it.

[2019-11-15 16:23] boyang9602 opened #239 "itext-2.0.6.jar has some problems in bug_id 19"
There are 2 itext jar under lib,
[code]
2.0.2 is good but 2.0.6 seems broken

[2019-11-15 16:41] mernst commented on #239
Can you please clarify "2.0.6 seems broken"?  Can you give a command that fails?  That way, we can be sure to solve the issue for you.  Thanks.

[2019-11-15 17:10] boyang9602 commented on #239
1. I am using daikon to generate invariants and it reports the problem.
2. Then I right click the jar file and select `open with archieve manager` and it shows `an error occured while loading the archive`

Thank you

[2019-11-15 18:16] rjust commented on #239
The following commands checkout the buggy version of Chart-19 and list the content of the lib folder:
[code]

The output is: `itext-2.0.2.jar  itext-2.0.6.jar  junit.jar  servlet.jar`. None of these files are corrupted. However, `itext-2.0.6.jar` is not an archive of classes but rather an html file, containing meta data. Is this perhaps the source of the problem?

If the above does not solve your

[2019-11-15 18:17] rjust commented on #231
Is this still an issue? If so, is it an issue with Defects4J or an external script?

Thanks,
Rene

[2019-11-15 18:37] boyang9602 commented on #239
Hi Rene,
I tried to use unzip to decompress it but failed. Below are the commands. Thank you.
Regards,
Bo
[code]

[2019-11-15 18:39] boyang9602 commented on #239
Ok I see. Thanks

[2019-11-15 18:41] rjust commented on #229
Hi @mk-k-90,

The failing evosuite test is likely related to evosuite's sandboxing. There might be an incompatibility between how Major isolates classloaders for mutation testing and evosuite's sandboxing.

Your second example (Randoop test suite) does not show a problem with the `test` command. Rather, test252 is a flaky test (test-order dependencies). If you change the execution order of test252

[2019-11-15 18:58] rjust commented on #239
@boyang9602, can we close this issue?

[2019-11-15 19:05] boyang9602 commented on #239
sure, of course. Thanks a lot for the help!

[2019-11-15 20:49] boyang9602 commented on #239
Hi Rene @rjust ,
One more question:
I realized the previous problem just now. Daikon is a tool which would inject to bytecodes, so it also tried to inject the `itext-2.0.6.jar` and it failed. Why don't you just name it as `*.html`? Thank you.
Best,
Bo

[2019-11-18 17:52] rjust commented on #239
Hi Bo,

This would indeed be an excellent question for the JFreeChart developers :) Defects4J does not alter the contents of the subjects' version control systems. The files in your Chart-19 working directory are exactly the ones that you would obtain by manually checking out from JFreeChart's SVN repository (modulo Defects4J config files and fixing build-related issues).

Defects4J could rename t

[2019-11-18 18:38] boyang9602 commented on #239
Thank you for your reply!

[2019-11-18 18:38] #239 closed

[2019-11-29 16:22] boyang9602 opened #240 "what does the brackets mean in test case?"
Hi,
Here is an example from all_tests after I ran `defects4j test` in Chart5b.
`testTransformFunction[0](org.apache.commons.math3.transform.FastCosineTransformerTest)`
What does the `[0]` mean? I am doing other analysis that cannot use your framework. So I need to run the test case with java command.
Thank you.
Bo

[2019-12-01 02:42] #240 closed

[2019-12-05 00:25] EikeStein opened #241 "Comparing buggy with fixed checkout"
Hi!
I need to get a list of all files that have changed from buggy to fixed. What would be a good way to achieve this? I'm consuming the data from Java.

So far I checked git diff and Java Bruteforce but I would assume that there is some file with detailed diff info.

Thanks!

[2019-12-05 01:11] rjust commented on #241
Hi @EikeStein,

The easiest way to access this information from an external program is to read the `<bug-id>.src` file under the `modified_classes` directory for a given bug (e.g., for [Lang-1](https://github.com/rjust/defects4j/blob/master/framework/projects/Lang/modified_classes/1.src)). Each `<bug-id>.src` file lists all source files touched by the minimized diff -- one per line.

An [external

[2019-12-05 01:14] rjust commented on #231
Hi @F-said,

Does the following command, using a fresh clone of Defects4J, work for you:
[code]

Thanks,
René

[2019-12-05 09:42] rubby33 opened #242 "come cross error when using defects4j info"
i am a newier of  defectsrj., so i follow the readme.

after conduct the ./init.h,
i got the successfully initialized .
`
defects4j-gradle-deps.zip                       100%[======================================================================================================>]  43.00M  16.4KB/s    in 52m 30s

2019-12-05 16:50:05 (14.0 KB/s) - ‘defects4j-gradle-deps.zip’ saved [45094176/45094176]

[2019-12-05 12:57] EikeStein commented on #241
Thanks alot! That solves it :)

[2019-12-05 12:57] #241 closed

[2019-12-06 15:21] rjust commented on #242
Hi @rubby33,

Can you please let us know on what OS you are running the init.sh script?

Also, can you please check whether you have `wget` and `unzip` installed on that box?

Thanks,
René

[2019-12-08 12:55] luckywyy opened #243 "Usage of gzoltar-related FL script"
<img width="750" alt="image" src="https://user-images.githubusercontent.com/20347413/70389598-9cb85300-19fc-11ea-9742-73d07845a72c.png">
Hi, could you tell me why the command 'fault-localization-data/gzoltar/job.sh' always fail?
My os -- > macos 10.15.1
-----------------------------------
lwlaptop:gzoltar liuwa$ ./job.sh --project Math --bug 1 --output_dir ./tmp --tool developer
Usage: ./job.sh --

[2019-12-08 21:44] rjust commented on #231
I am closing this issue; feel free to reopen it if the problem persists.

I could not reproduce the issue, but I am happy to take a closer look if it is indeed a Defects4J issue.

[2019-12-08 21:44] #231 closed

[2019-12-08 21:48] rjust commented on #228
I am closing this issue; let us know if you have other questions.

[2019-12-08 21:48] #228 closed

[2019-12-08 21:49] rjust commented on #229
Hi @mk-k-90,

Can we close this issue?

Thanks,
René

[2019-12-09 02:09] luckywyy commented on #243
Thanks for your notice.
Could you tell me how to solve it?
And, I have another question:
I download the defects4j 1.0.1 from the releases, but the shell - get_repos.sh,
always download the latest hub.
So, when I input the command - 'defects4j info -p Closure', it always show having 176 errors,
but, should it have 133 errors in version 1.0.1? And it have 176 errors in latest version?
the content of

[2019-12-09 03:35] rjust commented on #243
@luckywyy, to avoid confusion please open a separate issue for your follow-up question, which is unrelated to the topic of this issue.

I assigned this issue to @jose, who should be able to answer your gzoltar-related question.

For both issues, can you please provide complete step-by-step instructions for how to reproduce the issue -- starting with `git clone https://github.com/rjust/defects4j` a

[2019-12-09 10:03] rubby33 commented on #242
Hi, @rjust

my os: ubuntu 18.04

[2019-12-09 11:32] luckywyy commented on #243
My os-macos 10.15.1, I used fault-localization-data according to the steps on the official website, as follows:
1 I clone it using the command:
git clone https://bitbucket.org/rjust/fault-localization-data.git
2 now, I clone it to the path: /users/liuwa/MY_PROJECT/fault-localization-data.
according this:
![image](https://user-images.githubusercontent.com/20347413/70431812-cc2c9580-1ab8-11ea-9f64-2

[2019-12-09 11:46] luckywyy opened #244 "Why the Closure errors always have 176?"
Hi, I have another question.
I download the version 1.0.1 from the releases,  but when I run the command:
defects4j info -p Closure
It show the project-Closure has 176 errors, I am so confused,
**Shouldn't it only have 133errors in the old version?**
And, it only has 176 errors at latest version?
I looked the file-/project_repos/get_repos.sh, the content as follows:

\# Only download repos if the

[2019-12-11 06:24] #242 closed

[2019-12-11 08:02] jose commented on #243
Hi @luckywyy,

Thanks for reporting this.  This issue has been [fixed](https://bitbucket.org/rjust/fault-localization-data/commits/e45a13a0444040ca96e56c6de6d8d14498ccab4b).

Please update your clone and let me know if it does not work for you.

--
Best,
Jose

[2019-12-11 09:56] luckywyy commented on #243
Thanks for your attention.
I update the clone, and run the command again.
Now, the command:
./job.sh --project Math --bug 2 --output_dir ./tmp --tool developer
can run, but, it have a Exception:
Exception in thread "main" java.lang.RuntimeException: File/Directory '/Users/liuwa/MY_PROJECT/fault-localization-data-2/gzoltar/org.apache.commons.math3.analysis.FunctionUtilsTest#*' does not exist!
	at c

[2019-12-11 14:22] jose commented on #243
Hi @luckywyy,

I have failed to reproduce the problem you are reporting. Here are the steps I used to try to reproduce it:

[code]
and then to run GZoltar on Math-2 I executed the following:
[code]
and here is the log file
[code]

--
Best,
Jose

[2019-12-11 14:57] luckywyy commented on #243
Thanks your reply.
I may guess the fail, Could you tell me what is the gzoltar.jar? as follows:
![image](https://user-images.githubusercontent.com/20347413/70632129-3a17bf00-1c69-11ea-8ab4-afc5b5c41740.png)
And, this is my environment variables, as follows:
![image](https://user-images.githubusercontent.com/20347413/70632293-806d1e00-1c69-11ea-9b16-7b1436858496.png)
I clone it to 'D4J_HOME=/Users/

[2019-12-11 16:53] jose commented on #243
`gzoltar.jar` was incorrect. I've [fixed](https://bitbucket.org/rjust/fault-localization-data/commits/3f9b7f22e34743965e445697976a78bbc7070422) that and the usage example.

[2019-12-12 02:56] luckywyy commented on #243
Hi, I failed again in my computer.
I cannot find the file 'matrix' and 'spectra' in './gzoltar/Math/1'
![image](https://user-images.githubusercontent.com/20347413/70678522-4d5c7600-1ccd-11ea-982d-8c9da4a80730.png)
This is my environment variables(I think it's correct), as follows:
![image](https://user-images.githubusercontent.com/20347413/70678633-a4fae180-1ccd-11ea-8b0f-2c8287bd1f63.png)
Thanks.

[2019-12-12 04:24] rjust commented on #244
This sounds like you are using the most recent version of Defects4J.

The following steps yield the expected result (133 Closure bugs):
1) clone the repo and check out v1.0.1 (or download and unzip the v1.0.1 release archive)
2) run `init.sh`
3) run `framework/bin/defects4j info -p Closure`

Note that the project repositories have not changed in between the versions -- only the meta data and bug m

[2019-12-12 04:42] rjust commented on #240
Just in case someone else has the same question, these are parameterized unit tests.

[2019-12-12 06:52] luckywyy commented on #244
Thanks, I solve it by your steps.

[2019-12-12 07:14] #244 closed

[2019-12-12 14:23] luckywyy commented on #243
Hi, I run it successfully in ubuntu 19.10, but failed in my macOS 10.15.1.
Thanks.

[2019-12-12 17:01] jose commented on #243
Hi @luckywyy,

I believe the problem is due to `sed` that comes with MacOS.  Can you please execute the following commands in your MacOS box and send me the output?

[code]
and then
[code]

--
Best,
Jose

[2019-12-12 17:11] luckywyy commented on #243
Hi, I write the output about the commands in the file-output.txt.
Please find the attachment.
Thank you for your recent help.

,vkgv

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"José Campos"<notifications@github.com&gt;;
发送时间:&nbsp;2019年12月13日(星期五) 凌晨1:01
收件人:&nbsp;"rjust/defects4j"<defects4j@noreply.github.com&gt;;
抄送:&nbsp;"hello 羊."<862024320@qq.com&gt;;"Mention"<men

[2019-12-12 19:38] jose commented on #243
Hi @luckywyy,

I think you forgot to attach the `file-output.txt` file.

--
Best,
Jose

[2019-12-13 01:16] luckywyy commented on #243
ok, I put the content below:
- - -
lwlaptop:fault-localization-data liuwa$ cat $D4J_HOME/framework/projects/Math/relevant_tests_of_loaded_classes/1 | /usr/bin/sed 's/$/#*/' | /usr/bin/sed ':a;N;$!ba;s/\n/:/g'
org.apache.commons.math3.RetryRunnerTest#*
org.apache.commons.math3.analysis.FunctionUtilsTest#*
org.apache.commons.math3.analysis.differentiation.DSCompilerTest#*
org.apache.commons.math3.an

[2019-12-13 15:37] rjust commented on #223
Just a final thought on this: given that each bug is isolated, you can use the version control history (e.g., git blame) to track the relevant lines. This will give you an idea as to when these lines were changed. However, it may not be possible to execute the triggering test (the one that exposes the bug) on an earlier version of the code. Long story short, you can track the relevant lines to ide

[2019-12-13 15:37] #223 closed

[2019-12-13 15:40] rjust commented on #218
Hi @dennislopes,

Have you managed to solve the issue of unexpected failing tests?

Regarding the code coverage tool, can you please open a new issue so that we can keep track of the feature request separately?

Thanks,
René

[2019-12-13 15:49] rjust commented on #193
I am closing this issue. Let us know if you run into other issues with the coverage analysis.

[2019-12-13 15:49] #193 closed

[2019-12-16 11:54] jose commented on #243
Hi @luckywyy,

Exactly what I thought.  Could you please do the following:

1. Change [line 323](https://bitbucket.org/rjust/fault-localization-data/src/3f9b7f22e34743965e445697976a78bbc7070422/gzoltar/utils.sh#lines-323) of `utils.sh` script from
[code]
to
[code]

2. Re-run the `job.sh` script.

3. Let me know whether the change works on both MacOS and Unix.

--
Thanks,
Jose

[2019-12-16 12:09] luckywyy commented on #243
Hi, This is result that I modify the utils.sh, as follows:
<img width="568" alt="image" src="https://user-images.githubusercontent.com/20347413/70905837-e37efc00-203f-11ea-91b7-99a261fcc301.png">
lwlaptop:gzoltar liuwa$ ./job.sh --project Math --bug 1 --output_dir /tmp --tool developer
PID: 32776
lwlaptop.local
Picked up _JAVA_OPTIONS: -Xmx6144M -XX:MaxHeapSize=2048M
java version "1.7.0_80"
Java(T

[2019-12-16 13:47] jose commented on #243
Sorry, my bad.

Please do the following change instead:

[code]

[2019-12-16 13:58] luckywyy commented on #243
Hi, I modify it, but... the new error:
![image](https://user-images.githubusercontent.com/20347413/70912476-fe0ca180-204e-11ea-8ffb-d3ab47c48208.png)
this Chinese sentence:
 ' 错误: 找不到或无法加载主类 '
means:
'error: cannot find or cannot load the main class'

[2019-12-16 14:05] jose commented on #243
objc[37357]: Class JavaLaunchHelper is implemented in both /Library/Java/JavaVirtualMachines/jdk1.7.0_80.jdk/Contents/Home/bin/java (0x10c29c4c0) and /Library/Java/JavaVirtualMachines/jdk1.7.0_80.jdk/Contents/Home/jre/lib/libinstrument.dylib (0x10c3104e0). One of the two will be used. Which one is undefined.

This seems to be related to your JDK installation and not to GZoltar or the `job.sh` scri

[2019-12-16 14:11] luckywyy commented on #243
I download the JDK from
https://www.oracle.com/technetwork/java/javase/downloads/java-archive-downloads-javase7-521261.html
and:
![image](https://user-images.githubusercontent.com/20347413/70913156-6d36c580-2050-11ea-940b-68743bfa7106.png)
and setup the envionment variables:
![image](https://user-images.githubusercontent.com/20347413/70913210-8a6b9400-2050-11ea-8a67-626c76de90cb.png)
I can run it

[2019-12-16 14:34] jose commented on #243
That specific issue [has been addressed](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8170440) in version 7u171-b01, any chance you can upgrade from 7u80 (the one you got from Oracle's website) to 7u171-b01 ?

PS: two other questions: (1) why do you need to set both `JAVA_7_HOME` and `JAVA_8_HOME`? (2) why does not your `export PATH=...` point to `D4J_HOME`?

[2019-12-22 01:39] lizj14 opened #246 "Unable to use Math"
While compile Math 001 fixed version, error happens:
BUILD FAILED
/home/lizj2018/research/dl_fl/defects4j/framework/projects/defects4j.build.xml:80: The following error occurred while executing this line:
/home/lizj2018/research/dl_fl/defects4j/framework/projects/Math/Math.build.xml:60: Unable to create javax script engine for javascript

using the Ant inside Defects4J and my own Ant both incur th

[2019-12-22 02:39] lizj14 commented on #246
The problem has been solved. The former js.jar version in ant.lib is not correct. Change to Rhino 1.7R5 solve the problem

[2019-12-22 02:39] #246 closed

[2019-12-23 02:02] lizj14 commented on #198
Hello, I met the same question while testing Mockito, I am interested in whether the problem has been solved?

[2019-12-30 04:08] mudasirhw opened #247 "can we do the statement and branch coverage at the test case level(i.e. for each executed test case in a test suit)in defects4j"

[2019-12-30 06:48] nehagupta12 opened #248 "How to know execution time when all relevant test cases are executed for project"
I want to know the execution time required when all relevant test cases of a project version are executed on buggy or fixed version of it.
Will it make a difference if execution is done on buggy and fixed version.
How to note the execution time of all relevant test cases and a reduced test suite given by user.

Please any one suggest as early as possible

[2019-12-30 14:55] mernst commented on #248
If you already know how to run the tests on the buggy or fixed version, you can use the Unix `time` command.

[2020-01-04 05:57] nehagupta12 commented on #248
i have used test command to execute relevant test cases by using command
defects4j test -w /home/hp/checkout/Time/Time_1 -r

It executed. But i wanted to know that while execution test covered only modified class or whole code. Because it hardly took a minute to run 4000 test cases.
Because when i give command like
defects4j test -w /home/hp/checkout/Time/Time_1 -r -i /home/hp/checkout/Time/Time_1

[2020-01-05 13:34] mobilemania123 commented on #248
hi,nehagupta12 . i think your questions are of my need also. i would like to know whether you succeeded in running individual test cases. if yes, then please let me know how? Thanks. Besides, can u please help me with ur Email Id. i would like to learn from you. i am new to defects4j.

[2020-01-06 11:13] mk-k-90 commented on #229
Sure, thanks for your comment.

[2020-01-06 11:13] #229 closed

[2020-01-07 05:57] mudasirhw opened #249 "How can the tests be reordered for execution based on some criteria."

[2020-01-14 20:02] poosomooso opened #254 "Copying junit to system dir when exporting classpaths of Time 12-27"
Hi! This seems to be the same as #97 (and by extension, #104), which have been closed. However, I am on the latest commit on java-8-support and am still running into this.

To reproduce: when I run `defects4j export -p cp.compile` or `defects4j export -p cp.test` on either the buggy or fixed versions of Time 12-27, I get

[code]

I've worked around this by manually copying over the junit jar.

[2020-01-15 19:24] mernst commented on #92
Fixed by 6d49baf5ca0a8bc3af951d3331e2b13e381c2fbd

[2020-01-15 19:24] #92 closed

[2020-01-15 19:24] mernst commented on #154
Fixed by 6d49baf5ca0a8bc3af951d3331e2b13e381c2fbd

[2020-01-15 19:24] #154 closed

[2020-02-01 01:54] rjust opened #268 "Download and configure ant in init.sh script"
Download ant in the `init.sh` script, properly configure it, and make sure all calls to ant use this version.

Currently, D4J uses Major's ant version to compile all bugs, but possibly a different version (system installation) when running external tools. This is confusing and makes debugging ant configuration issues really hard.

[2020-02-03 07:56] LuisaLiu opened #273 "Empirical study of Randoop, problem about ErrorTest generated by Randoop."
Hi, @rjust
I am a graduate student and are conducting an experimental research on Randoop. One of them is to study the ErrorTest generated by Randoop. I want to run ErrorTest on the defects4j  and calculate its coverage. Currently on the defects4j, We can only run RegressionTest. If we run ErrorTest, it will be treated as a broken test, so we need to modify the defects4j. How should we modify the

[2020-02-04 17:40] rjust commented on #273
Hi @LuisaLiu,

Are you trying to generate error-revealing tests on the buggy or fixed versions of the Defects4J bugs?

Regarding the coverage computation, are you using the [run_coverage](https://github.com/rjust/defects4j/blob/master/framework/bin/run_coverage.pl) script? If so, the "-I" flag is probably what you want. If not, can you please let us know how you are computing coverage for the gene

[2020-02-04 18:56] #172 closed

[2020-02-04 18:58] rjust opened #275 "Improve init script"
The init script should be improved in three ways:
1. When re-executed, the init script skips downloading dependencies (unless there is a newer version) but unzips archives and sets symlinks. Some calls to unzip force replacing existing files, whereas others query the user -- the latter is undesirable.
2. The init script should fail fast. Specifically, if unzip or ln fails, the script should stop i

[2020-02-05 10:01] LuisaLiu commented on #273
Hi,@rjust,

I'm trying to generate error-revealing tests on the buggy version by changing the parameters in run_randoop.pl. Currently I want to study the performance of error-revealing tests in terms of defect detection and code coverage. I need to run error-revealing tests on the buggy version to get these data. In the past, I used manual execution on the eclipse platform. I want to batch execute

[2020-02-07 02:11] achmadnasutionid commented on #246
@lizj14 where is the ant.lib directory you mentioned because in my math there is no such directory ?

[2020-02-08 01:05] DehengYang opened #278 "Non-existence of major/bin/.ant"
When I run `init.sh` for initialization of Defects4J, an error occurs:

This error corresponds to the following command (i.e., the last line about `cp`):

As hinted by the [http://mutation-testing.org/doc/major.pdf](http://mutation-testing.org/doc/major.pdf), it seems that there is a major/bin/ant  executable file rather than any major/bin/.ant file. So should the `cp major/bin/.ant major/bin/ant`

[2020-02-08 01:27] mernst commented on #278
It looks to me like `cp major/bin/.ant major/bin/ant` should be removed.
None of the versions of Major at https://mutation-testing.org/downloads/ have a `major/bin/.ant` directory.
I'm perplexed why this has never failed for anyone else in the past.

[2020-02-08 01:41] rjust commented on #278
[major/bin/.ant](https://github.com/rjust/defects4j/blob/master/major/bin/.ant) is part of Defects4J -- it's a modified version of Major's ant script. The `init.sh` script replaces Major's ant script with this file.

@DehengYang, did you clone the repository, or rather copy Defects4J from elsewhere in your filesystem? If it is the latter, you might have missed hidden files, such as `.ant`.

[2020-02-08 02:03] DehengYang commented on #278
@mernst @rjust Thank you so much for your patience and help! I cloned the repository, and as I failed to download https://defects4j.org/downloads/defects4j-repos.zip using init.sh due to the too slow speed in my region, I manually downloaded it and the following necessary zips/jars via browser:

+ https://defects4j.org/downloads/defects4j-repos.zip
+ https://defects4j.org/downloads/defects4j-gradl

[2020-02-08 14:55] mernst commented on #278
I'm glad this is working for you now.

[2020-02-08 14:55] #278 closed

[2020-02-08 17:20] rjust commented on #246
@achmadnasutionid, ant.lib refers to the lib folder of an Ant installation. Glad that you were able to solve the problem on your end.

[2020-02-08 17:35] rjust commented on #221
@mernst is this still an issue with the latest version of Randoop?

[2020-02-08 17:46] rjust commented on #254
The key issue is that the Ant installation used to run the build does not have the expected version of JUnit installed. This issue existed in the Java-8 branch because we changed the precedence of the system-wide Ant installation. Enforcing the use of the Ant installation that comes with Defects4J (and Major), as was the case previously, avoids this issue entirely.

The latest version of master (w

[2020-02-08 17:52] rjust commented on #247
You could run each test case in isolation to obtain the most precise information. Cobertura, or other coverage tools, may have an option to compute such a coverage matrix.

In Defects4J, you can change the configuration of the used coverage tool [here](https://github.com/rjust/defects4j/blob/master/framework/projects/defects4j.build.xml#L330) and [here](https://github.com/rjust/defects4j/blob/mast

[2020-02-08 17:59] rjust commented on #249
Hi @mudasirhw,

Can you please provide a few more details for what you are trying to achieve?

You could take a look at the integration of a custom [test runner](https://github.com/rjust/defects4j/tree/master/framework/lib/formatter) into the [Defects4J build](https://github.com/rjust/defects4j/blob/master/framework/projects/defects4j.build.xml#L138).

JUnit's @FixMethodOrder annotation might also

[2020-02-08 18:05] rjust commented on #248
@nehagupta12, if your goal is to run only the tests relevant to the bug, then the notion of classes to instrument does not apply. The set of classes loaded is determined by the set of tests.

What does make a difference is whether you are running all tests or only the relevant tests -- that is, running `defects4j test` vs. `defects4j test -r`. For most bugs in Defects4J, however, the entire test s

[2020-02-08 18:07] rjust commented on #248
@mudasirhw, you can run an individual test case with `defects4j test -t <class name>::<method name>` .

[2020-02-08 18:08] rjust commented on #243
@luckywyy, is this still an issue for you?

[2020-02-08 19:32] mernst commented on #221
Thanks for the bug report.  This is fixed in
https://github.com/randoop/randoop/commit/302c031d2c6c52b2cc826a33ab50093a6d01ec32 .
The fix will appear in the next release of Randoop.
In the meanwhile, you can [use Randoop from its GitHub repository](https://github.com/rjust/defects4j/blob/master/framework/test/README.md#randoop-coverage-on-the-defects4j-defects).

[2020-02-08 19:32] #221 closed

[2020-02-08 19:33] mernst commented on #170
Issue #221 (the Randoop crash) is now resolved.

[2020-02-09 05:52] rjust commented on #273
Hi @LuisaLiu,

The html documentation seems to be outdated (will fix this), but you should be able to compute coverage for failing tests using the `-I` flag:
[code]
Regarding the generation of error-revealing tests, this is something we have been working on in a [dedicated branch](https://github.com/rjust/defects4j/tree/test_gen), which we will be merging in soon. The new [gen_tests script](https:

[2020-02-10 08:33] LuisaLiu commented on #273
Hi @rjust ，
Thanks for your reply. I have got the coverage of the error-revealing tests by setting -I flag based on your reply.

Best wishes.
Luisa

[2020-02-10 08:51] #248 closed

[2020-02-10 14:46] mernst commented on #273
Great.  Please let us (or the Randoop team) know if there are any problems running Randoop.

Can we close this issue?

[2020-02-13 12:50] LuisaLiu commented on #273
hi， @mernst

Sorry for not responding in time, you can certainly close this issure.Thanks again!

[2020-02-13 13:44] rjust commented on #273
Great. I am closing this issue. @LuisaLiu, please feel free to open a new issue if you encounter any issues with the new test-generation interface.

Thanks,
René

[2020-02-13 13:44] #273 closed

[2020-02-14 07:36] Ringbo opened #282 "Couldn't find replacecall-current.jar"
Hi, I encounter the same problem when i run ./test_randoop.sh in three different machine.
It's shows that Randoop couldn't find  replacecall-current.jar and run failed.
Btw if it would be helpful, the test of  evosuite is passed.
OS: ubuntu 18.04; defects4j: v1.2.0; Randoop: 3.1.5; java: 1.7; perl:5.26

Error opening zip file or JAR manifest missing: /home/ringbo/APR/defects4j/framework/lib/test_g

[2020-02-14 15:46] mernst commented on #282
What version of Defects4J are you using?

Can you show all the commands you used to install Defects4J, and their output?

What is the output of `ls -al` in your `framework/lib/test_generation/generation` directory?

[2020-02-14 16:12] Ringbo commented on #282
I'm using v1.2.0 and in the framework/lib/test_generation/generation:

drwxrwxrwx 5 ringbo ringbo 4096 Feb  14 08:16 ..
drwxrwxrwx 2 ringbo ringbo 4096 Feb  14 10:01 generation
drwxrwxrwx 2 ringbo ringbo 4096 Feb  14 10:01 runtime

I found the reason of  miss replacecall.jar is that Randoop's replacecall agent only exist in the Randoop's version higher than 4.0.0. But in the v1.2.0's defect4js, in

[2020-02-14 16:51] mernst commented on #282
I'm glad this is working with a more recent version of Defects4J.  (Please use the newest version whenever you can.)

Can we close this issue?

[2020-02-14 23:36] Ringbo commented on #282
Sure. Thanks for your help！

[2020-02-14 23:36] #282 closed

[2020-02-15 16:02] rjust commented on #230
I've merged #186, which provides a generic interface for test generators, into master. Let us know if you have any questions about adding DSpot to the set of supported test generators. A PR for DSpot would be great.

Thanks,
René

[2020-02-15 16:02] #230 closed

[2020-02-16 15:17] rjust opened #284 "Test all exported properties in test_export_command"
The test script `test_export_command`currently checks whether the source and test directories are properly exported. It should also check whether the classpaths and lists of tests are properly exported.

[2020-02-17 06:01] monperrus commented on #230
nice, thanks! WDYT @danglotb @sophiehye?

[2020-02-18 15:49] rjust opened #288 "Simplify check out of non-minimized buggy version"
Currently, Defects4J's version ids have the following format: `<id>(f|b)`, where b refers to the minimized buggy and f to the fixed version.

We should change the version id format to: `<id>(f|b|b-min|b-orig)`
* b-min is minimized buggy
* b-orig is non-minimized buggy
* b is an alias for b-min (current behavior)

To be consistent, we could add the same suffixes for the (f)ixed version -- f-min wou

[2020-02-18 15:50] rjust commented on #288
@mernst, @Greg4cr, @jose, any thoughts?

[2020-02-18 16:02] Greg4cr commented on #288
This is consistent with what I said in the email thread. I'm in favor of this change.

@jose, you implemented some form of this in the "garbage-in, garbage-out" paper, right?

[2020-02-18 16:34] mernst commented on #288
This sounds great.  Thanks for the suggestion.

[2020-02-19 18:54] jose commented on #288
Agree with this.  @rjust, do you want to make it obvious? I wonder if could just define it as `f|b|bm|bo|`?
 And, instead of `min` and `orig`, should we introduce the concept pure (i.e., minimal) vs impure (i.e., non-minimal) and defined it as `f|b|b-pure|b-impure|` or just `f|b|bp|bi|`?

Yep.  Once we all agree on the suffixes to use I would be happy to implement it.

[2020-02-20 13:07] Greg4cr opened #290 "test_verify_bugs.pl does not execute the correct bugs under Java 8"
test_verify_bugs.pl will compile and execute tests to ensure that the expected test cases fail.

This script can either be provided explicit bug IDs, or can be run without specified IDs. In the latter case, the intent is that all bugs are executed. The former case continues to work under Java 8, **the latter does not.**

When run without specifying IDs, this script appears to get the "total number

[2020-02-20 13:41] rjust commented on #290
I pushed a fix for this.

[2020-02-20 13:41] #290 closed

[2020-02-20 13:42] Greg4cr commented on #290
Thanks - I had to go to a meeting. :)

[2020-02-20 14:15] rjust commented on #288
I am inclined to be more verbose to avoid confusion and mistakes.

I don't feel strongly about `b-min` vs. `b-pure`. I'd like to keep `b-orig`, though, to indicate that this is the original buggy version without any modifications to the source code.

Since we are already making `b` effectively an alias for backward-compatibility, adding `bo` as an alias for `b-orig` (and `bm` as an alias for `b-mi

[2020-02-20 14:16] Greg4cr opened #291 "Document design decisions during bug mining"
JxPath and Cli use non-standard target names like "compile-test" instead of "compile.test". I chose to do a string substitution on check-out to change the non-standard names to those expected (done this way because other URL strings needed to be corrected anyways). In other projects, these non-standard names have been handled directly in the build file.

We should document these sort of design dec

[2020-02-20 14:22] Greg4cr commented on #288
I'm fine with shorter aliases, but we should definitely have the longer forms for clarity.

After some more thought, I'd propose `b-orig` and `b-min`. The minimized form is always pure, but the original isn't always impure, so the pure vs impure terminology may not be universally accurate.

[2020-02-20 14:28] Greg4cr commented on #29
I think that renaming the directory would introduce more trouble than it is worth (breaking scripting both internal to D4J and using the framework). However, this is something that could be clarified with better documentation.

I am adding the "tutorial" tag to this so that we do not forget about it when adding new documentation in 2.0.

[2020-02-20 14:33] Greg4cr commented on #78
Closing, as I believe this has been fixed. URL `https://defects4j.org/downloads/$ARCHIVE` can remain persistent, i.e., by changing the server location behind the scenes.

[2020-02-20 14:33] #78 closed

[2020-02-20 15:27] mernst commented on #288
I agree that "min" (for "minimized") is clearer than "pure" and I prefer it.  Greg's point that not all orig are impure is an even better argument.

I would be slightly inclined to omit the short aliases `bo` and `bm` just because shorter versions are more obscure, it's easier to make typos, it's easier to overlook typos, and the documentation has to be longer to explain it.  I don't feel extremel

[2020-02-20 23:50] rjust opened #292 "The test for the export command times out"
Since we added many more projects and bugs, the [test_export_command](https://github.com/rjust/defects4j/blob/additional-projects/framework/test/test_export_command.sh) script takes about 50 minutes to complete. This will cause travis to fail most of the time (hard timeout is 50 minutes).

We should parameterize this script (similar to the verify-bugs and gen-tests script; allowing multiple projec

[2020-02-25 03:44] #292 closed

[2020-02-27 09:44] muvvasandeep opened #295 "Issue Trackers"
What are the issue trackers that you considered for creating the dataset?

[2020-03-03 08:37] Greg4cr opened #296 "Loaded and modified class lists are not sorted"
The list of classes in the loaded and modified class files depends on what is provided by the classloader. This means that, when we recompute metadata, we may get the same list of classes in a different order. This makes it harder to understand the impact of recomputing metadata.

To give us clarity and more consistent results, we should sort the class list when we compute metadata.

[2020-03-03 09:09] #296 closed

[2020-03-03 12:54] Greg4cr opened #297 "test_bug_mining is failing on download_issues step"
The bug mining test has started to fail. It currently appears to be failing on the download_issues step:

`Error: /tmp/test_d4j_9593_1583237185/test_bug_mining/issues.txt does not exist or it is empty`

While elements of the bug mining framework have recently changes (sorting the list of loaded classes), those changes should have no impact at all on this step. I am going to look deeper into this i

[2020-03-03 13:34] Mishabuzov commented on #203
Hello, sir!
I want to construct the coverage matrix (at least at the method level), where the columns are methods, which are executed by some test cases and the rows are test cases. What are the ways to obtain such information?
For example, when I invoke `defects4j coverage -i all-classes.txt -t <test>` I see coverage statistics by the test (I have attached the screen), but I want also to see the

[2020-03-03 13:47] rjust opened #298 "Computing a coverage matrix"
Hello, sir!
I want to construct the coverage matrix (at least at the method level), where the columns are methods, which are executed by some test cases and the rows are test cases. What are the ways to obtain such information?
For example, when I invoke `defects4j coverage -i all-classes.txt -t <test>` I see coverage statistics by the test (I have attached the screen), but I want also to see the

[2020-03-03 13:51] rjust commented on #298
Hi @Mishabuzov,

The `defects4j coverage` command outputs a summary of Cobertura's coverage report (`coverage.xml`). You can obtain detailed coverage information by processing the `coverage.xml` file or programmatically processing `cobertura.ser` (Cobertura's serialized data structures).

Hope this helps.

Best,
René

[2020-03-03 13:55] rjust commented on #295
When initially creating the data set, we considered jira, sourceforge, google code, and github.

The [bug-mining README](https://github.com/rjust/defects4j/tree/master/framework/bug-mining#initializing-the-working-directory-configuring-the-project-and-identifying-candidate-bugs) provides more details.

Best,
René

[2020-03-03 14:50] LuisaLiu commented on #198
@rjust，hi~
First I used the Randoop tool to generate the test cases. Then I executed run_mutation.pl on 12f、14f of Mockito, the failed information like this:
`update.all.tests:

mutation.test:
     [echo] Running mutation analysis ...
    [junit] MAJOR: Mutation analysis enabled

BUILD FAILED
/home/liu/defects4j/framework/projects/defects4j.build.xml:223: java.lang.RuntimeException: java.lang.Clas

[2020-03-03 15:04] #297 closed

[2020-03-05 05:25] mxx1219 opened #299 "Why are there fewer bugs in the program than in the readme statistics?"
Today I cloned the defects4j project and initialized the configuration,  but found that Closure had only 174 bugs, Time had only 26 bugs, and Lang had only 64 bugs, which were less than the statistics in readme. For example, I found that the Lang-2 bug did not exist. I wonder to know why it happened. I have also repeated the installation several times, but this problem has always been. Thanks.
![4

[2020-03-05 07:23] Greg4cr commented on #299
Hi @mxx1219,

We are currently transitioning Defects4J from Java 7 to Java 8. Under Java 8, some bugs no longer have triggering tests, and have been removed from Defects4J. Since existing studies refer to specific bug IDs, we have not reordered the existing bugs. This is why there are gaps (for instance, Lang-2 no longer exists under Java 8, but we do not shift Lang-3, 4, ... up to maintain contin

[2020-03-05 08:08] mxx1219 commented on #299
Thanks very much! Your answer resolved my doubts.

[2020-03-05 08:08] #299 closed

[2020-03-06 00:55] rjust commented on #298
I am closing this issue. Let me know if you have any follow-up questions.

[2020-03-06 00:55] #298 closed

[2020-03-06 06:41] #143 closed

[2020-03-08 16:40] rjust commented on #149
This should be fixed; all bugs in master (v2.0.0) are Java-8 compatible and the bug metadata is up to date.

[2020-03-08 16:40] #149 closed

[2020-03-08 17:02] rjust commented on #187
Fixed. Note that we replaced the run_randoop and run_evosuite scripts with a generic [gen_tests](https://github.com/rjust/defects4j/blob/master/framework/bin/gen_tests.pl) script.

[2020-03-08 17:02] #187 closed

[2020-03-08 17:04] rjust commented on #243
I am closing this issue; feel free to reopen if you have follow-up questions.

[2020-03-08 17:04] #243 closed

[2020-03-08 17:11] luckywyy commented on #243
Thanks your help, Sorry&nbsp;I omitted this email.

------------------ Original ------------------
From: René Just <notifications@github.com&gt;
Date: Mon,Mar 9,2020 1:05 AM
To: rjust/defects4j <defects4j@noreply.github.com&gt;
Cc: luckywyy <862024320@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [rjust/defects4j] Usage of gzoltar-related FL script (#243)

Closed #243.

—
You ar

[2020-03-08 18:00] rjust commented on #65
@moar82, thanks again for your suggestions. We changed Defects4J to allow a user to run mutation analysis on a buggy version; it will issue a warning if it fails with a possible resolution (i.e., removing/ignoring failing tests).

[2020-03-08 18:00] #65 closed

[2020-03-08 18:02] rjust commented on #218
I am closing this issue. Feel free to re-open if the problem persists in v2.0.0.

[2020-03-08 18:02] #218 closed

[2020-03-08 18:06] rjust commented on #162
@Dearth, did you end up building some infrastructure for integrating Daikon into Defects4J? If so, is this something that we should consider bringing into Defects4J?

[2020-03-08 18:10] rjust commented on #295
I am closing this issue; feel free to re-open it if my previous response did not fully answer your question.

[2020-03-08 18:10] #295 closed

[2020-03-08 18:11] #137 closed

[2020-03-08 18:14] rjust commented on #254
The export command for Time does work on master (v2.0.0).

[2020-03-08 18:14] #254 closed

[2020-03-08 19:41] Mishabuzov commented on #298
Thank you, sir!
I have parsed `coverage.xml` created for the each separate test, and extracted method names from there.

[2020-03-08 20:05] Mishabuzov opened #301 "How to get all tests method names?"
Hello!
Probably my question is trivial and I have missed some instruction in your tutorial, but I do not understand how to get all the Junit test-methods names, which are executing during the `defects4j test` command (just all the Junit method names for a project).
For example, I have attached the picture of small list of test methods names for the Lang project with the approximate format I want t

[2020-03-08 21:08] rjust commented on #301
Hi @Mishabuzov,

The `defects4j test` command outputs two files (in the working directory):
1. `all_tests`: all test cases (JUnit test methods) executed
2. `failing_tests`: test cases (JUnit test methods) that failed during execution

The `all_tests` file is probably what you want. I realize that the format of the two files is inconsistent, and we should fix this.

Hope this helps.

Best,
René

[2020-03-08 21:21] Mishabuzov commented on #301
Oh, it seems that I'm inattentive. Thank you @rjust  for the very quick response. The format for me does not really matter, I will process it in the code.

[2020-03-08 21:22] rjust commented on #301
We are working on better tutorials since these details are neither obvious nor well-documented right now. Thanks for bringing this up!

[2020-03-09 18:39] Mishabuzov commented on #301
Hello, sir!
I have noticed one more issue, that disappointed me: after launching the `defects4j test` command, for example, several times file `all_tests` became containing several copies of all the test methods of the project. I have not realized it until incidentally compared 2 `all_tests` files for the same project with different bugs, and it was different because I have launched the test comma

[2020-03-09 18:43] rjust commented on #301
Thanks for reporting this! This is certainly a bug -- I'll move this over to a new issue to keep track of it.

[2020-03-09 18:59] Mishabuzov commented on #301
A similar issue happens when I, for example, launch the command for calculating coverage, e.g., if I launch `defects4j coverage -i all-classes.txt -t org.apache.commons.lang3.AnnotationUtilsTest::testOneArgNull` the row with testOneArgNull will be added to `all_tests` file. If I launch, for example, `defects4j coverage' all the list of test methods will be appended (duplicated) to the `all_tests`

[2020-03-10 03:51] rjust commented on #301
The pending PR #303 will fix this issue. Thanks again for reporting this.

[2020-03-10 13:47] Greg4cr opened #304 "We should add a "deprecated-commit-db""
We deleted deprecated bugs from the commit-db, but retained the other metadata. By deleting those lines from commit-db, we lose an important piece of metadata: the commit hashes.

This metadata should be available in some form, and these bugs should still be available to check out if needed (with the understanding that they do not yield triggering tests under Java 8).

We should add a second "depr

[2020-03-10 13:52] Greg4cr commented on #304
* Add a "deprecated-bugs" csv.
* Add column for "reason why deprecated", add column for version number where deprecated.

[2020-03-10 14:00] Greg4cr commented on #304
* Retitle commit-db to "active-bugs.csv"
* Modify existing framework to work with renamed file.
* Add header to CSV files explaining columns.

[2020-03-10 21:21] #301 closed

[2020-03-11 00:13] rjust commented on #231
Just in case anyone else has encountered a similar issue with Chart: PR #305 explicitly sets `autocrlf` to false in the local git repo of the working directory. Otherwise, Chart patches may not be applicable if the global setting is not the default (e.g., input).

[2020-03-11 02:47] rjust commented on #206
The most recent version (2.0.0) is Java-8 compatible.

[2020-03-11 02:47] #206 closed

[2020-03-11 03:07] LuisaLiu opened #308 "Mutation analysis does not work for Mockito"
@rjust，hi~
First I used the Randoop tool to generate the test cases. Then I executed run_mutation.pl on 12f、14f of Mockito, the failed information like this:

update.all.tests:

mutation.test:
[echo] Running mutation analysis ...
[junit] MAJOR: Mutation analysis enabled

BUILD FAILED
/home/liu/defects4j/framework/projects/defects4j.build.xml:223: java.lang.RuntimeException: java.lang.ClassNotFound

[2020-03-11 03:40] rjust commented on #308
Hi @LuisaLiu,

Can you please provide:
1. The test suite archive with the generated Randoop tests
2. The command that you executed (invocation of the run_mutation.pl script)

Thanks,
René

[2020-03-11 03:52] LuisaLiu commented on #308
Hi, @rjust

1.This is the test suite that Randoop generated for Mockito(12f、14f) :
[randoop_gen_tests.zip](https://github.com/rjust/defects4j/files/4315946/randoop_gen_tests.zip)

2.This is the command I used:
perl run_mutation.pl -p Mockito -d /home/liu/bishe_test/Randoop-Test/Mockito-test-fixed/Mockito/randoop/1 -o /home/liu/bishe_test/Randoop-Test/Mockito-test-fixed/Mockito/randoop/mutation

Be

[2020-03-11 06:45] bqcuong opened #310 "Collect regression bugs in the dataset"
Hi @rjust,

I wanna collect all the bugs which are regression errors in D4J dataset (cause existing test cases in previous version to be failed).
I found that you attach the new test cases from the fixed version for some of your bugs.
I need filter out and keep only bugs whose actual failing tests.
How can I do it?

Thank you very much in advance!

Regards,
Cuong

[2020-03-11 07:48] Greg4cr opened #311 "Duplicate entries in dir-layout.csv"
The new projects have many duplicate entries in their dir-layout.csv files. We should check the bug mining process to ensure that we don't add these entries.

[2020-03-11 09:32] #311 closed

[2020-03-11 09:46] muvvasandeep commented on #295
Thanks for the help. How do we know which Github projects are using Jira?

[2020-03-12 05:57] rjust commented on #295
Many Github projects use Github's issue tracker. If a project uses something else, then the project description should indicate that. For example, the Apache projects use Jira.

If your question is whether a Git project in Defects4J used Jira, then you can look at the issue-tracker urls in the metadata for that project.

[2020-03-12 17:50] rjust commented on #310
Hi @bqcuong,

It seems that you want to find all bugs for which the following is true about its triggering test case(s):
1. passes on the fixed version
2. fails on the buggy version
3. existed before the buggy version
4. passed before the buggy version

The first two are true by construction. For the latter two, you could:
1. determine all bugs for which the fixed commit did not introduce all trig

[2020-03-13 04:25] rjust commented on #308
Hi @LuisaLiu,

I could reproduce this issue. I'll take a closer look and let you know.

Best,
René

[2020-03-13 06:50] LuisaLiu commented on #308
Hi, @rjust

Ok. Thank you very much for your help!

[2020-03-13 16:28] bqcuong commented on #310
Hi @rjust,

Yes, that's the type of bugs I want to collect from your dataset.
Thank you very much for giving an elaborated instruction to find the regression bugs.
Could I use any of D4J scripts or something to aid the detection process of regression bugs in an automated/semi-automated way?
If it isn't possible. Manual way is my last choice 😂.

Sincerely,
Cuong

[2020-03-16 04:26] rjust commented on #308
A quick update on this: the [mutation branch](https://github.com/rjust/defects4j/tree/mutation) should fix this issue. Pending further testing (CI and locally), we should be able to merge this change into master soon.

Also, I noted that two of the generated tests (that you shared) fail under `mutation` but not under `test`. This can happen because of classloader differences. You might need to exc

[2020-03-16 04:32] LuisaLiu commented on #308
Hi， @rjust

I will try to do mutation analysis on this branch later, and thank you very much for your reminding!

[2020-03-22 20:48] rjust commented on #308
Hi @LuisaLiu, does the mutation branch work for you? All tests have passed and we are ready to merge the changes, but I wanted to check whether they address all of your issues.

Thanks,
René

[2020-03-23 05:46] LuisaLiu commented on #308
Hi @rjust ，

Thank you for your attention to my problem. I tried to do mutation analysis on mutation branch，but there was an error in the first step.
I followed the tutorial to run ./init.sh first, and then set the PATH.

The error report is as follows:

Setting up utility programs ...
Downloading https://github.com/jose/build-analyzer/releases/download/v0.0.1/build-analyzer-0.0.1.jar
Downloaded h

[2020-03-23 17:32] rjust commented on #308
Hi @LuisaLiu,

I just executed the following commands and everything seems fine on my end:
[code]

Can you please run the above commands and, if the problem persists, provide the full output of the init.sh script?

Thanks,
René

[2020-03-24 14:02] LuisaLiu commented on #308
Hi， @rjust

This happened a few days ago when I used the mutation branch: the initialization was very slow, and it stopped at the “Setting up project repositories”, so I replaced the file  with the old "defects4j-repos.zip".  And then the initialization works, but there's the problem I talked about last time.

Today, I want to do it again according to your steps, but still stuck in the initializat

[2020-03-24 22:08] rjust commented on #308
Hi @LuisaLiu,

Hopefully, the initialization completes soon for you. For future testing/debugging, you should be able to rerun the init script after switching branches or pulling in new changes (without cloning from scratch). The init script will only download files if necessary.

Please let me know whether the mutation analysis works for you, after successfully initializing your local clone.

Tha

[2020-03-25 02:02] LuisaLiu commented on #308
Hi， @rjust

Today, the initialization was successful. I regenerated the test case for the Mockito, then executed fix_test_suite.pl to remove the problematic test case, and then executed the run_mutation.pl script for mutation analysis.
Error information is as follows:

`liu@ubuntu:~/defects4j/framework/bin$ perl run_mutation.pl -p Mockito -d /home/liu/bishe_test/7-Randoop-regre-newversion/Mockito-

[2020-03-25 16:06] rjust commented on #308
@LuisaLiu,

Just to clarify, does the mutation analysis work for the generated test suites that you previously shared (Mockito-12 and Mockito-14)?

Can you please share the newly generated test suite for Mockito-5? I'll look into this.

Thanks,
René

[2020-03-26 12:46] LuisaLiu commented on #308
Hi， @rjust

I used the latest version of defects4j to generate tests for all versions of the Mockito project, and then did mutation analysis. The mutation analysis of mockito-12 and mockito-14 was successful, but the following version failed:
1-10、18、20、21、35

This is the test case I generated using Randoop:
[no-mutation.zip](https://github.com/rjust/defects4j/files/4387169/no-mutation.zip)

And I

[2020-03-26 14:50] rjust commented on #308
Thanks @LuisaLiu, this is super useful information!

By default, Defects4J only mutates the class(es) modified by the bug fix. Presumably, the Mockito versions with very few mutants are the ones where the modified class is fairly small.

[2020-04-04 19:32] KovacicB opened #316 "Compilation failed in require at ..."
Following the README I cloned repository, ran init.sh which executed successfully, I am able to get project info, bug details and I can checkout specific version.
The issue is when I try to execute compilation of that version it fails.

`defects4j checkout -p Lang -v 1b -w /tmp/test-folder`
`defects4j compile`

![image](https://user-images.githubusercontent.com/10382356/78459753-8032db80-76bb-11ea

[2020-04-04 19:52] jose commented on #316
It seems you're using an unsupported Java version. As described in [here](https://github.com/rjust/defects4j#requirements), the latest version of D4J requires Java 8.

[2020-04-04 19:52] #316 closed

[2020-04-05 17:30] rjust commented on #316
@KovacicB just to follow-up on the Java-8 requirement. You can install a Java-8 JDK using homebrew or download it from the [Oracle website](https://www.oracle.com/java/technologies/javase/javase-jdk8-downloads.html).

Hope this helps.

[2020-04-05 18:06] KovacicB commented on #316
Yes, Java 8 solved the issues. Thank you for quick responses!

[2020-04-08 17:25] tbhal commented on #190
I did the same thing but it didn't work for me.

[2020-04-09 14:15] bkushigian opened #317 "Add command to print environment info"
When defects4j builds break it can be hard to tell what defects4j is seeing (e.g., what is `JAVA_HOME` set to). This makes it difficult to debug issues without delving into d4j source.

To make this information easy to obtain, I propose adding `defects4j env` which will print various environment info to stdout.

[2020-04-09 14:19] bkushigian opened #318 "Add functionality to enumerate all existing non-deprecated bugs from command line"
It would be useful to be able to dump existing bugs of a project to stdout:
[code]
This can be used for scripting:
[code]

If I know the best place to put this functionality in the CLI (i.e., should it have its own command as above, etc) I can implement and PR

[2020-04-09 14:37] Greg4cr commented on #318
Hi @bkushigian , this is already implemented in PR #312 . See discussion on the `d4j-query` command. Feel free to give feedback on that PR if you have opinions on the implementation.

[2020-04-09 14:38] #318 closed

[2020-04-10 03:28] Dearth commented on #162
Hello @rjust,

Sorry for not getting back to you sooner.  We did manage to piggy back Daikon's program tracing on top of your ANT test suite.  It was not very elegant and probably not worth integrating as is.

The ability to measure program metrics from within your already existing framework would be nice but hazard to say it's necessary or something you should be responsible for.

Padraic

[2020-04-12 10:23] OHCEzqj opened #320 "Some tests can't be passed in JDK8"
When i apply defects4j 2.0.0 to jdk8, some more tests are not passed.
For example, there are 2 riggering tests  for time_7_buggy, it's right in jdk7.
However, there are more than 20 tests failed in jdk8.
![image](https://user-images.githubusercontent.com/19492104/79066471-a7586100-7cea-11ea-9f1c-1c0d9eb9e66d.png)

[2020-04-13 00:33] rjust commented on #320
Hi @OHCEzqj,

Unfortunately, I cannot reproduce this issue. I just ran the two commands shown in your log on the most recent version of Defects4J (master branch) and observed two failing tests -- as expected.

Can you please let us know:
* what Java version are you using (`java -version`)
* what OS are you using

Thanks,
René

[2020-04-14 02:26] OHCEzqj commented on #320
Hi, @rjust ,
Thanks for your reply.
I used the latest release version (1.5.0) .
Now I rerun it using most recent version by "git clone" and it works.
The failing tests in 1.5.0 are commented out in most recent version.
![image](https://user-images.githubusercontent.com/19492104/79179519-60798100-7e3a-11ea-983f-66a6f1b0f410.png)

[2020-04-14 02:26] #320 closed

[2020-04-14 03:14] RollerKing opened #321 "Closure_23_fix mutation test failed"
Hi @rjust  When I use the following command to do the mutation test for Closure_23 fixed version

root@freg-virtual-machine:/tmp# cd Closure_23_fix/
root@freg-virtual-machine:/tmp/Closure_23_fix# defects4j compile
Running ant (compile)...................................................... OK
Running ant (compile.tests)................................................ OK
root@freg-virtual-machine:/t

[2020-04-14 07:39] tbhal opened #322 "Enquiry about run_coverage.pl"
I was using run_coverage.pl when I passed the arguments related to it as shown in the documentation, it's showing that the suite does not exist.
I am new to this thing
Just a question please help.

I ran this
run_coverage.pl -p Lang -d Lang-11f-randoop.1.tar.bz2 -o /home/tushar/output
and got this
Test suite directory Lang-11f-randoop.1.tar.bz2 does not exist! at /home/tushar/defects4j/framework/b

[2020-04-14 16:15] rjust commented on #322
Hi @tbhal,

Is your goal to measure coverage for a generated test suite, or are you trying to achieve something else?

If your goal is to measure coverage for a generated test suite:

1. Did you create a test suite, using the [gen_tests script](https://github.com/rjust/defects4j/blob/master/framework/bin/gen_tests.pl)? If so, what command did you execute. If not, you need to create a test suite fi

[2020-04-14 16:18] rjust commented on #321
Hi @RollerKing,

Seems like the mutation analysis ran out of memory. (Closure is a particularly resource-hungry project, and even running the tests without mutation can result in OOM issues.) Can you please let us know what your set up looks like (HW spec, OS, Java version)?

Thanks,
René

[2020-04-15 02:24] RollerKing commented on #321
thanks to reply @rjust
HW:I use a virtual machine with 3G memory.

OS:Linux version 5.3.0-46-generic (buildd@lcy01-amd64-013) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #38~18.04.1-Ubuntu SMP Tue Mar 31 04:17:56 UTC 2020.

java version: "1.7.0_45"
Java(TM) SE Runtime Environment (build 1.7.0_45-b18)
Java HotSpot(TM) 64-Bit Server VM (build 24.45-b08, mixed mode)

by the way,I am using the l

[2020-04-16 20:53] bkushigian commented on #39
@rjust @jose Issue #111 was closed---did that resolve this issue?

[2020-04-17 19:49] manishmotwani3 opened #323 "Error while computing coverage for Codec 7"
Hi,

I am getting the following error when I use the command `defects4j coverage` to measure the code coverage in the patched version of the Codec 7 defect.
There seems to be some issue with the path obtained for cp.compile property.

(base) mmotwani@cobb:~/Codec7Fixed$ defects4j coverage
Running ant (compile.tests)................................................ OK
Running ant (coverage.instrumen

[2020-04-18 09:56] jose commented on #39
@bkushigian, no.

[2020-04-18 15:35] rjust commented on #323
Hi @manishmotwani3,

Thanks for reporting this! I could reproduce this issue and we'll fix it. From a first look, it seems like the `build.classes` property is not correctly set in Codec's build file.

Best,
René

[2020-04-20 05:47] tbhal commented on #322
Thanks @rjust, yes I want to calculate coverage.
I will run the gen_test script thanks for the input.

[2020-04-20 10:20] GabrieleMaurina opened #324 "Wrong commit order when checking out buggy revision"
Hi,
I am getting a wrong git history when checking out a buggy commit.

I executed:
[code]

and I got this:
[code]
As you can see BUGGY, FIXED and POST_FIX revisions are in the wrong order, infact the fix comes before the bug in the git history.

I am showing this because I am interested in the real commit that preceded BUGGY. Normally I would just do `git checkout HEAD^`, however in this case it

[2020-04-20 14:39] mernst commented on #324
The tags `D4J_Lang_1_BUGGY_VERSION`, `D4J_Lang_1_FIXED_VERSION`, and `D4J_Lang_1_POST_FIX_REVISION` are on versions that might have fixes compared to the historical version of the software, such as removing tests that fail.  This is what you need in order to do experiments in testing.  Their order is arbitrary, so you should not use `HEAD^1` on them.  (Perhaps they should be created in a different

[2020-04-20 15:16] GabrieleMaurina commented on #324
Ok, I see.

So the two given hashes in commit-db are the hash of the real buggy commit and the hash of the real fixed commit?

[2020-04-20 15:28] mernst commented on #324
That is correct, according to https://homes.cs.washington.edu/~rjust/defects4j/html_doc/Vcs.html.

[2020-04-20 15:30] mernst opened #325 "Documentation of `commit-db` file format"
https://homes.cs.washington.edu/~rjust/defects4j/html_doc/Vcs.html says:

However, the `commit-db` file contains additional columns.  There may need to be changes elsewhere in the documentation to reflect the additional columns.

In addition, there should be a link from somewhere in the Defects4J documentation to https://homes.cs.washington.edu/~rjust/defects4j/html_doc/Vcs.html, with anchor text

[2020-04-20 15:36] GabrieleMaurina commented on #324
Perfect, this solves my issue. Thank you.

On a side note: is there an easy way to get the name of test class that failed when ran on the buggy revision?

[2020-04-21 06:09] Greg4cr commented on #325
There are documentation updates in #312 that (at least partially) address this. See: https://github.com/rjust/defects4j/pull/312/files#diff-e9a5de0fbb65e6be8727fbc244957048

[2020-04-21 08:38] #323 closed

[2020-04-21 08:39] Greg4cr commented on #323
@manishmotwani3: Thanks for reporting. This has been fixed in the latest commit. Please let us know if you spot any other issues!

[2020-04-21 13:59] manishmotwani3 commented on #323
Thank you!

[2020-04-22 17:43] yigitk commented on #169
I am aware that the issue is closed but I want to comment on this as I've faced similar issues and if someone ever look this up they can find the solution.  There is always the requirement to have 'gcc' installed before attempting anything in perl, and I fear this is why it is happening. So if people are running into this, please make sure you have gcc and then DBI and all the dependencies are in

[2020-04-23 04:14] rjust commented on #324
You can use the `defects4j info` command to print the class and method name of the triggering test for any bug in Defects4J. Note that PR #312 will provide a richer query mechanism that allows you to query Defects4J internals.

You can also export the triggering test with the `defects4j export` command when you have a bug checked out to a working directory.

Hope this helps.

[2020-04-24 08:01] pablovalle opened #326 ""defects4j" is not recognized as an internal or external command"
Dear Jené;

Mi teacher, @aitorarrietamarcos, and I have been trying to install defects4j, and all the steps provided are successfully done. But, when we execute the last command to check installation, it says:
"defects4j info -p Lang" it says that "defects4j" is not recognized as an internal or external command.

We ensured that al verions are the correct ones and the scripts are in the corrcet pa

[2020-04-24 09:22] tbhal commented on #322
Hey @rjust I was using the gen_test_script you mentioned to use for generating the test suite.
It requires a parameter -g generator it says that by running run_test_gen.pl -g help I can see the list of supported generators but when I run this command it shows
run_test_gen.pl: command not found

I looked for the file in the defects4j directory but it does not have one.
Can you tell what can be the

[2020-04-24 09:36] GabrieleMaurina commented on #324
This is perfect, thank you.

[2020-04-24 09:36] #324 closed

[2020-04-24 14:42] mernst commented on #326
Thanks for providing a list of all the things you did.  That's incredibly helpful.
As a comment, it's easier to search your commands if you cut-and-paste rather than use images, which are not searchable.

The instructions are currently rather Unix-centric.  Windows works differently in some aspects.

What happens if you create a tiny file named `hello`:
[code]
and then run `hello` from the command

[2020-04-26 02:02] manishmotwani3 opened #327 "Buggy version of Time 5 doesn't fail any tests"
Hi,

The buggy version of Time 5 defect doesn't fail any tests.
File [trigger_tests for Time 5](https://github.com/rjust/defects4j/blob/master/framework/projects/Time/trigger_tests/5) is blank.

[2020-04-26 05:05] Greg4cr commented on #327
Thank you for reporting this. It looks like there was an issue when we regenerated the metadata for Java 8 recently. I'll fix this as soon as possible.

[2020-04-27 07:12] pablovalle commented on #326
Hi @mernst ,

Thanks for your help.
We have managed to solve the issue using  the second solution you proposed us. Giving the full path it works!
`perl "fullPath"\defects4j info -p Lang`

Many thanks!

[2020-04-27 07:12] #326 closed

[2020-04-27 08:06] #327 closed

[2020-04-27 08:06] Greg4cr commented on #327
Hi @manishmotwani3 - The latest commit fixes this issue. Thanks again for pointing this bug out.

[2020-05-01 05:23] neelofarhassan opened #328 "Exporting Mutants' Source Files"
I exported Major's properties before "defects4j mutation" command.

export MAJOR_OPT="-J-Dmajor.export.mutants=true -J-Dmajor.export.directory=xyz"

However, I can't find any mutated version under the specified directory.

[2020-05-01 05:41] #328 closed

[2020-05-01 05:59] neelofarhassan commented on #328
I first executed the command "defects4j mutation", then, export Major's properties and run the command again. (no mutated source files generated)

I deleted the project and checked out the fresh version again and export Major's properties before running "defects4j mutation". (Mutated source files generated under the specified directory)

[2020-05-06 08:05] Greg4cr opened #329 "Flaky test in Jsoup"
A student has reported that test `org.jsoup.parser.HtmlParserTest::handlesDeepStack` fails on the fixed version of Jsoup 67 - 75, 80 - 83, 86 - 93.

I cannot reproduce. It also does not reproduce on CI. However, I suspect the culprit is one of the three assertions in the test case: `assertTrue(System.currentTimeMillis() - start < 1000);`. In a resource-constrained environment (the student is using

[2020-05-06 12:09] Greg4cr commented on #329
After working with the student, we found that the test fails in a single-core, single CPU environment. By switching the VM from one to four CPUs, the test now passes and the flakiness disappears.

Therefore, the source of flakiness in Jsoup 67 seems to be the CPU configuration.

[2020-05-06 15:47] mernst commented on #329
Another option would be to increase the timeout.

[2020-05-06 16:03] neelofarhassan commented on #65
Hello @rjust and @moar82,
I am a bit confused about the discussion that why it doesn't make sense to compute mutation analysis for the buggy version for developer generated test cases or automated generated (failed) test cases?  Some mutation-based fault localization techniques use mutation coverage of failed and passed test cases to find the probability of a statement being buggy. So I believe wh

[2020-05-07 06:38] Greg4cr commented on #329
@mernst

Good point. When I have a little more time, I will set up a VM and see if I can replicate the failure. Then, I'll try various options for dealing with it while maintaining the trigger behavior.

[2020-06-19 02:49] neelofarhassan opened #331 "JSOUP mutation analysis failed for bug 4,6 and 9 with the same error: code too large"
Apart from build failure, I am getting this warning

[javac] warning: /opt/java/jdk1.8.0_181/lib/ct.sym(META-INF/sym/rt.jar/java/lang/Object.class): major version 52 is newer than 51, the highest major version supported by this compiler.
    [javac]   It is recommended that the compiler be upgraded.

Full error trace is copied here.

Checking out 20ed24ce to /tmp/gen_tests.pl_31188_1592533140.....

[2020-06-28 04:20] rjust commented on #331
Hi @neelofarhassan,

Thanks for reporting this. The problem here is that the mutated class (`Entities.java`) is very large with many statements that can be mutated. Once Major generates and embeds all mutants, the class exceeds the bytecode limit. Major should handle these corner cases automatically by using a smarter instrumentation.

As a workaround, you can use the `-m` flag, which PR #332  int

[2020-06-29 02:52] neelofarhassan commented on #331
Thanks @rjust ,
I didn't know about the -m flag introduces in PR #332. It would be great if this is added to the "mutation" command documentation
"http://defects4j.org/html_doc/d4j/d4j-mutation.html"
Thanks

[2020-06-29 03:24] rjust commented on #331
I just merged this PR yesterday, so this is a very recent change. The documentation that you linked should be up to date; maybe you need to refresh. Let me know if you have other questions.

I'll keep this issue open until a new version of Major provides a permanent fix.

Best,
René

[2020-06-29 05:00] neelofarhassan commented on #331
Thanks you @rjust

[2020-06-29 11:14] SteGaff7 opened #333 "Chart Build Failed - Reference build.classpath not found"
Hi,

I have been having problems with the defects4j mutation command for almost all Chart bugs. I have had minimal problems with the other projects.

Below is the error when I run mutation for the Chart project with bug id 12f and attached is the zipped version of the generated test suite archive that I am using.

![build_failed](https://user-images.githubusercontent.com/46994170/85997159-13e91f00

[2020-06-30 15:44] rjust commented on #333
Hi @SteGaff7,

Thanks  for reporting this. I could reproduce the issue, which was caused by a regression bug introduced in an attempt to speed up compilation. I just pushed a fix with two test cases, which should fix this issue for Chart.

Best,
René

[2020-06-30 18:07] SteGaff7 commented on #333
Hi @rjust

Thanks for the quick response. That's great, that seems to have solved it!

Stephen

[2020-06-30 18:07] #333 closed

[2020-07-01 01:11] neelofarhassan opened #334 "Very low test coverage for Closure"
Hello,
I am using evosuite (embedded in defects4j) for generating test suites for various projects. Strangely, for almost all the versions of Closure, evosuite generate test suites with very low coverage (most of the times less than 20%). With the same setting, other projects show quite high coverage. I am using this command to generate a test suite in my script.

gen_tests.pl -g evosuite -p Closu

[2020-07-03 02:45] #304 closed

[2020-07-05 06:47] #317 closed

[2020-07-05 20:40] rjust commented on #334
Hi @neelofarhassan,

Closure is a particularly challenging project for automated test generation, e.g., due to many private methods and branch conditions that, to be true, require strings or data structures that represent well-formed javascript programs. You might be able to increase coverage by using [EvoSuite's private API access and mocking capabilities](http://eprints.whiterose.ac.uk/120346/1/

[2020-07-08 15:34] SalmaMessaoudi opened #336 "Get log messages when executing test cases"
Hello,

I am wondering if it is possible to run a test case and collect log messages that reflect the system behavior.
For example, for the Chart (jfreechart) project, can I run a test case and save the log messages (that are introduced by the log printing statements in the source code) to a file.

thank you for your help.

Salma

[2020-07-09 15:25] mou23 opened #338 "Confusion regarding all_tests file"
For **bug _Lang_57_**, the all_tests file does not contain any test method from the package **_org.apache.commons.lang.exception_**. Similarly, the all_tests file of **bug _Chart_1_** does not contain any test method from the class _**org.jfree.chart.axis.junit.SegmentedTimelineTests2.java**_

What is the reason behind it?

Thanks in advance.

[2020-07-11 05:52] mou23 commented on #171
May I know the Gzoltar version used for generating [these data](http://fault-localization.cs.washington.edu/data/)?

[2020-07-13 06:32] mxx1219 opened #339 "Having inconsistent results in Chart-8 in the newest defects4j version."
When I use the defecst4j built-in test command to make a test for Chart-8, there is one testcase "WeekTests::testConstructor" failed. However, when I use junit tool to make a test separately, I find all testcase are successful. I want to know why it happened? Thanks.

My java version:1.8.0_231  (I have also used java 7 to try, but get the same problem.)

![679a506c81481a9b3b5f3fcc779a06a](https://

[2020-07-14 14:37] mxx1219 opened #340 "Flaky test cases in Lang-42 and Lang-62"
org.apache.commons.lang.EntitiesPerformanceTest#testUnescapeArray
org.apache.commons.lang.EntitiesPerformanceTest#testEscapeArray
org.apache.commons.lang.EntitiesPerformanceTest#testLookupHash
org.apache.commons.lang.EntitiesPerformanceTest#testLookupTree
org.apache.commons.lang.EntitiesPerformanceTest#testLookupArray

The above test cases all appear during the test for Lang-42 and Lang-62, and th

[2020-07-15 03:23] mxx1219 opened #341 "Two more errors appear when testing Lang-64"
When I run junit test for the test class "org.apache.commons.lang.enums.ValuedEnumTest",  two more errors appear compared with the test result of "defects4j test" command, which are as follows:

(1)
java.lang.ClassCastException: org.apache.commons.lang.enums.ValuedColorEnum cannot be cast to org.apache.commons.lang.enums.ValuedEnum

	at org.apache.commons.lang.enums.ValuedEnum.compareTo(ValuedEnum

[2020-07-16 03:56] mxx1219 opened #342 "Flaky test case in 5 buggy versions of Time project."
org.joda.time.TestPeriodType#testForFields4

The above test case appears during the test for Time-19/20/23/25/26, and it may be one flaky test.
When I run the test class "TestPeriodType" on each of the 5 buggy versions mentioned above, the test case (a.k.a. test method) "TestPeriodType#testForFields4" obtains a passed result.
However, when I run the test case "TestPeriodType#testForFields4" separa

[2020-07-21 04:09] rjust commented on #171
Hi @mou23,

It's better to open a new issue, rather than posting a follow-up to a closed one.

Regarding your question, @jose can probably provide an answer.

Best,
René

[2020-07-21 16:30] mou23 commented on #171
Okay. Thank you.

[2020-07-21 16:45] rjust commented on #171
Based on the [tagged version of the data](https://bitbucket.org/rjust/fault-localization-data/src/icse17/gzoltar/), I'd say GZoltar 1.6.0 generated the data. @jose can you please confirm or correct this. Thanks.

[2020-07-22 19:12] rjust commented on #336
Hi @SalmaMessaoudi,

You can see all program output by enabling the debugging mode (`export D4J_DEBUG=true`). If you want to capture the program output in a file, you can add another JUnit test result formatter to [Defects4J's top-level build file](https://github.com/rjust/defects4j/blob/master/framework/projects/defects4j.build.xml#L118). For example, adding `<formatter type="plain" usefile="true

[2020-07-22 19:25] rjust commented on #338
The set of tests is determined by a project's build file; it's not necessarily the set of all tests that exist in the test directory. To avoid spurious or unexpected test failures, Defects4J only executes tests through a project's build file. For example, the build file for Chart 1 (*ant/build.xml*) includes the following tests:
[code]
This pattern does not match *org.jfree.chart.axis.junit.Segmen

[2020-07-22 19:49] rjust commented on #339
Hi @mxx1219,

On my end, the following three options to execute the tests are all consistent:
* defects4j test
* ant -f ant/build.xml test
* java ... JUnitCore

In all three cases, there is one, expected test failure:
[code]

Have you [set and exported the TZ variable](https://github.com/rjust/defects4j#timezone)?

Since the problematic test is time-zone related, running JUnitCore in a different t

[2020-07-22 20:31] rjust commented on #340
Hi @mxx1219,

Thanks for reporting this. I was able to reproduce the NPEs by running the tests in isolation.

Currently, Defects4J ensures that the entire test suite (minus all triggering tests), as invoked from the build file, passes and that each triggering test fails in isolation.

It might be worth expanding the bug-mining framework to run every test in isolation on the fixed version of the bu

[2020-07-22 20:40] rjust commented on #341
#42 reports on the same issue of observing different test results when running tests via Ant vs. JUnitCore.

@jose let's revisit the idea of changing the way tests are executed, or at least make sure that Ant and JUnitCore always produce the same outcome -- likely by removing tests that fail under JUnitCore.

[2020-07-22 20:40] #341 closed

[2020-07-22 20:44] rjust commented on #342
I could reproduce this by running the test individually, using `defects4j test -t`. Similar to #340, the long-term solution is likely to run every test in isolation during bug-mining.

[2020-07-22 22:55] yigitk opened #343 "Mockito: defects4j test requires explicit call of defects4j compile"
Hello @rjust René and other valuable contributors,
I am using the latest version of the framework. I wanted to mention an issue with Mockito testing, I believe the issue is somehow related to [this bugfix](https://github.com/rjust/defects4j/issues/35#issue-171463292) about creating **compileLib** directory. This is in Java 8. All other projects work well if you just do **defects4j test** but in Mo

[2020-07-23 05:05] mou23 commented on #338
Thank you so much, René. It was very helpful :D

[2020-07-23 05:05] #338 closed

[2020-07-24 17:14] rjust commented on #343
Hi @yigitk,

Thanks for reporting this! We will take a look and fix the dependency between test and compile.

Best,
René

[2020-07-25 08:38] dormaayan opened #344 "Compute Mutation Score of Projects"
Hey,
I would like to produce a CSV file that contains the mutation score of all the classes in a given project.
Is there a way to do that? Currently, it seems like I can only get the mutation score of an entire project / of a given method (and only against the changes in a specific bug or a fix).

Many thanks!

[2020-07-25 13:38] mou23 opened #345 "Multiple failing test cases for the bug Closure 107"
According to the _failing_tests_ file only method _testGetMsgWiringNoWarnings_ from class _com.google.javascript.jscomp.CommandLineRunnerTest_ should fail. However, I got more failing tests when I run the project using GZoltar 0.1.1. Two example cases are given below:

Example
**1) method _testAliasInstanceof4_ from classs _com.google.javascript.jscomp.NameAnalyzerTest_**
java.lang.VerifyError: St

[2020-07-25 18:30] rjust commented on #345
Hi @mou23,

To me, this looks like the GZoltar instrumentation is causing issues (VerifyError).

@jose, can you comment on this?

Best,
René

[2020-07-25 18:36] rjust commented on #344
Hi @dormaayan,

The mutation commands in Defects4J provide a `-i` flag, which allows you to specify which classes should be instrumented (i.e., mutated). For example, see: [defects4j mutation](http://defects4j.org/html_doc/d4j/d4j-mutation.html)

You are right that, by default, only classes related to the bug fix are mutated.

Hope this helps.

Best,
René

[2020-07-26 14:44] mou23 commented on #345
Thank you so much René for your quick response. Even if I run the test cases using JUnit, I get 4 additional failing tests. Those test cases are given below:

**1) method testGenerateBinaryExpression from class com.google.javascript.jscomp.fuzzing.FuzzerTest**
org.mockito.exceptions.misusing.UnfinishedStubbingException:
Unfinished stubbing detected here:
-> at com.google.javascript.jscomp.fuzzing.

[2020-07-27 12:16] Adnan3D opened #346 "Performance of Automatic Diagnosis Algorithms"
Hello,

I was testing Ochiai and Barinel algorithm on some of the Defects4j data such as Chart. Usually I would use Ochiai as a reference to see how Barinel performs, since some papers that used Ochiai are mentioning that this algorithm has the best performance.
However, very often it appears that several components are separating themselves from others and are not the exact component as shown in

[2020-07-28 13:53] mxx1219 commented on #339
Your answer solved my problem! It is indeed a time-zone issue. Thanks a lot!

[2020-07-28 13:54] #339 closed

[2020-07-28 14:03] mxx1219 commented on #340
I am used to using JUnitCore, but a very important reason is that I forgot the command "defects4j test -t", which could also run a single test expediently,  until your comment is read.

This is my loss. lol

[2020-07-29 02:19] neelofarhassan opened #347 "Using specific operators from each operator group of Major"
Hello

The recent addition of -m flag in mutation analysis routine gives the option of selection of specific operator group for mutation analysis. I was wondering is there any way of selecting the operators inside each group? For instance, I don't want to use DEL(INC) and DEL(DEC) inside STD group. Similarly, I would like to remove ABS (absolute value insertion) group for my analysis (In Major fra

[2020-07-31 09:02] mxx1219 opened #348 "Too many failed test cases appear while using "defects4j test" for Mockito project."
![80e054c41afbcb3dd00927530ad64dd](https://user-images.githubusercontent.com/17797550/89018100-e53acd00-d34d-11ea-9ca9-c1caf07ba6c8.png)

Hello! When I use "defects4j test" command for all bug/fix versions of Mockito project, there are hundreds of failed test cases appear. However, it seems that most of them shouldn’t be failed test cases.

When I use JUnitCore to make tests for Mockito, the numbe

[2020-07-31 14:29] rjust commented on #348
Hi @mxx1219,

Can you please let us know what the content of the `failing_tests` file is, which Defects4J generates in the working directory when running the tests?

Thanks,
René

[2020-07-31 14:44] mxx1219 commented on #348
[failing_tests.txt](https://github.com/rjust/defects4j/files/5007569/failing_tests.txt)
This is the failing_tests file for Mockito_10 buggy version. Thanks!

[2020-07-31 14:56] mxx1219 commented on #348
Before you reply, I don’t know the test results of the "defects4j test" command can be viewed. According to the failing_test file, it seems that the the problem lies in the settings of junit4. So I used the suggestion from Stack Overflow (https://stackoverflow.com/questions/29878517/junit-gives-error-java-lang-noclassdeffounderror-junit-framework-junit4testadap) and successfully solved my problem.

[2020-07-31 22:00] jiangyanjie opened #349 "How to repeat trigger_tests in the original source code"
Hello

I run ``defects4j checkout -p Lang -v 1b -w /tmp/lang_1_buggy`` and then checkout it to `2c454a4ce3fe771098746879b166ede2284b94f4`(``revision.id.buggy`` in ``active-bugs.csv``), then run ``cd /tmp/lang_1_buggy ``  ``defects4j compile``   and  ``defects4j test``
The output is
``Failing tests: 4
   org.apache.commons.lang3.LocaleUtilsTest::testParseAllLocales
   org.apache.commons.lang3.build

[2020-07-31 22:17] rjust commented on #349
Hi @jiangyanjie,

Can you please clarify what you are trying to achieve? I can guide you towards a suitable solution, once I have a better understanding of what your goal is.

Based on your description, you are checking out the **non-curated** buggy version of Lang-1 (presumably using git checkout 2c45) and then execute all tests. This results in four failing tests--none of which is the declared t

[2020-07-31 22:25] rjust commented on #347
Hi @neelofarhassan,

Currently, Defects4J does not provide a flag for fine-grained operator selection. Maybe Defects4J's mutation commands should also provide a flag for providing an mml file as input?

That said, you can change the mutation operators by changing the [template.mml](https://github.com/rjust/defects4j/blob/master/major/mml/template.mml). This will affect what mutants are generated f

[2020-07-31 22:27] rjust commented on #346
Hi @Adnan3D,

Can you please clarify why you are expecting the Ochiai ranking to accurately rank the true buggy lines on top?

Thanks,
René

[2020-08-01 02:10] jiangyanjie commented on #349
Thanks for the quick response and your suggestion, my confusion has been resolved.

[2020-08-01 02:44] #349 closed

[2020-08-01 14:33] dormaayan commented on #344
Hey @rjust ,

Thanks for your reply!

Actually, what I would like to do is to assess the quality of ***test classes*** by computing the number of mutations a **specific** test class detected divided by the total number of relevant mutant generated.

It seems like the -i flag allows me to do the opposite: given a production class only mutate that specific class and see how many mutants are killed.

[2020-08-04 07:53] Greg4cr commented on #343
FYI - simply ensuring the directory is created is not sufficient. Instead, it unearths a deeper dependency where the test results are incorrect. This issue can be fixed by making Ant target "compile.tests" depend on "compile".

[2020-08-04 07:58] #343 closed

[2020-08-04 10:18] Adnan3D commented on #346
Hello René,

Well, after reading papers I would assume that this is the goal of an algorithm in order to improve search for the bugs. Of course I would not expect it always to be the highest ranked diagnosis, however I would still expect it somewhere at the top in most of the cases, otherwise (as I already said) it would not be so practical to look at the results when fixing a bug (and the goal of

[2020-08-04 11:02] ruimaranhao commented on #346
Adnan,

There are cases where the bug is no ranked in one of the first positions. However, it turns out that even those cases where the buggy line is not at the top, the ranking is useful to solve the bug (as an example, check the case study on Section 8 in [this paper](https://haslab.uminho.pt/ruimaranhao/files/jss09.pdf).

I've tried to deal with this by offering visualisations of the diagnostic

[2020-08-05 09:18] SalmaMessaoudi commented on #336
Hi @rjust,

Thank you for your reply.
I have tried what you suggested and indeed I can see there is a text file being generated for each executed test case. But those files contain only the test methods being executed and their execution time. They do not contain any log messages that refer to the target system behavior.

For example, I did the following: checkout the fixed version of the bug numb

[2020-08-05 11:45] Adnan3D commented on #346
Hello Rui,

Thank you a lot for a detailed answer. This actually explains pretty good the doubts that I had when looking at the results of some Defects4J examples. I will keep this in mind for my future implementation.

Thanks again,
Adnan

[2020-08-05 17:22] dormaayan commented on #344
Hey @rjust ,

Do you think a simple modification for the system is possible in order to achieve what I described?

[2020-08-17 16:39] thanhdeku opened #350 "error when using defects4j info"
Dear @rjust ,
This is first time I have used Defects4J, so I followed instructions in README.
I initialized successfully and export PATH in .bash_profile.
However, when i check installation by using command " defects4j info -p Lang", some errors happened:

Couldn't find project repositories! Did you (re)run 'defects4j/init.sh'?
Compilation failed in require at /Users/Elephant/Research/Automated_Pr

[2020-08-18 06:14] Greg4cr commented on #350
It is likely that there was an issue unzipping the project repositories during the `init.sh` process. In the `project_repos` folder, do you have a file called `defects4j-repos.zip`? If so, unzip that file in that directory. You should then have a set of folders (one per project). After that, the commands should work.

[2020-08-19 12:26] thanhdeku commented on #350
@Greg4cr Thank you very much for your kind response. The commands have worked after unzipping defects4j-repos.zip.

[2020-08-19 12:26] #350 closed

[2020-08-25 18:26] yigitk opened #352 "JacksonXml version 5 buggy and fixed versions are reversed ?"
Dear Developers,

I cloned the repository for JacksonXml with the following command "defects4j checkout -p JacksonXml -v 5b -w ./JacksonXml5" and fixed version by using the "-5f" instead of "-5b".
When I look at the patch (framework/projects/JacksonXml/patches/5.src.patch) the fix is already applied in "-5b" , I can see that the version that is cloned with the command "-5f" is actually the buggy v

[2020-08-25 22:01] rjust commented on #344
I believe you can use the mutation command to achieve this:
* Use the `-i` flag to mutate all the classes that you deem relevant and that should be mutated. This could be all classes in the project or a subset, e.g., based on package structure etc..
* Enable the computation of the killmatrix to obtain the mutant-kill information for each test class. This involves a change to [defects4j.build.xml](

[2020-08-25 23:41] rjust commented on #352
Hi @yigitk,

A patch in Defects4J is not the bug fix but rather the bug itself, which is reintroduced into the fixed version (to obtain the buggy version). The bug fix is the inverted diff. Admittedly, the naming of the folder (`patches`) is confusing.

Hope this resolves the confusion.

Best,
René

[2020-08-26 00:17] yigitk commented on #352
Hi @rjust,

Thank you for the explanation and excuse my misinterpretation. I am closing this issue to not further confuse any people :)

[2020-08-26 00:17] #352 closed

[2020-08-26 00:24] rjust commented on #352
No worries, we really should rename the patch folders at some point.

[2020-08-26 07:55] #348 closed

[2020-08-27 02:01] neelofarhassan opened #353 "Error When Checkout Json"
I am getting this error while checking out Json versions. I made sure that I don't have any local changes in the repository, I tried checking out whole defects4j repository and initialize it from scratch, but same error. Could someone please suggest what's wrong with this?

Thanks
Neelofar

Checking out 27a52f90 to /data/scratch/projects/punim1163/software-testing/ FAIL
Executed command: git clone

[2020-08-27 09:58] Greg4cr commented on #353
Hi @neelofarhassan,

Unfortunately, I cannot replicate this error.

As a simple sanity check, I would recommend clearing a directory before running a second `defects4j checkout` command. If you run any sort of compilation/test execution, it can introduce side effects when you perform a different checkout of the same project.

[2020-08-27 12:17] neelofarhassan commented on #353
Thank you @Greg4cr for your reply,
The command I am using to checkout any of the Jsoup fixed version is
defects4j checkout -p Jsoup -v 1f -w Jsoup-1f
Sorry I couldn't understand what second checkout command you suggested?

Furthermore, exactly the same command for other projects checkout buggy/fixed versions and later generate tests and mutants successfully.

[2020-08-27 12:27] Greg4cr commented on #353
What I mean is that you should clear (`rm -rf Jsoup-1f/*`) the contents of the directory you checkout into (in this case `Jsoup-1f`) before you use `defects4j checkout` a second time.

Running `defects4j checkout -p Jsoup -v 1f -w Jsoup-1f` works for me if `Jsoup-1f` is an empty directory.

[2020-08-27 12:46] neelofarhassan commented on #353
Thanks @Greg4cr, I am making sure that the directory is empty before checking out the project. As you can't reproduce the bug, I will try to find if this is something related to my system settings.
Thanks

[2020-09-07 06:08] JenniferJohnson89 commented on #190
Same error here. System info: Ubuntu 18.04.4, openjdk 1.8.0, git version  2.17.1, perl 5 version 26.

`Setting up project repositories ...

Setting up Major ...
Downloading https://mutation-testing.org/downloads/major-1.3.4_jre7.zip
Downloaded https://mutation-testing.org/downloads/major-1.3.4_jre7.zip

Setting up EvoSuite ...
Downloading https://github.com/EvoSuite/evosuite/releases/download/v1.0

[2020-09-07 07:09] JenniferJohnson89 commented on #169
Same error here.
System info: Ubuntu 18.04.4, openjdk 1.8.0, git version 2.17.1, perl 5 version 26. Run carton install:

`➜  /.../defects4j (master) ✗ carton install --force
Unknown option: force
Installing modules using /home/lab605/Documents/ML_repair/defects4j/cpanfile
! Installing DBI failed. See /home/lab605/.cpanm/work/1599461277.10662/build.log for details. Retry with --force to force insta

[2020-09-07 07:13] JenniferJohnson89 commented on #190
Solve this error by deleting defects4j directory and re-downloading it. However, a new issue happened  https://github.com/rjust/defects4j/issues/169#issuecomment-688087856. Also, I found https://github.com/rjust/defects4j/issues/350#issuecomment-675276526 might be useful to solve this issue for other people who come across this.

[2020-09-09 16:46] veronica-sheng opened #354 "statement coverage matrix"
Hi @rjust ,
I wonder if there is a way to generate a statement coverage matrix, the format is image below
![Screen Shot 2020-09-09 at 12 46 01](https://user-images.githubusercontent.com/37639453/92628193-6c0e8e00-f29a-11ea-8bac-97e7aedf2e37.png)
Thank you!

[2020-09-16 07:03] IntHelloWorld opened #355 "An Issue about flaky method"
# About flaky method
Hello

I found that there are some methods annotated as **"flaky method"** in java test files,  Is there any purpose or special meaning for annotating them?

Thanks

[2020-09-16 07:15] Greg4cr commented on #355
Hi @IntHelloWorld,

Flaky tests are tests that return inconsistent results. For example, a test may pass or fail depending on the time of day or computer it is executed on. These tests are unreliable. Therefore, we mark and exclude these tests from execution as part of Defects4J in order to ensure that our framework always returns reliable results.

[2020-09-16 07:20] IntHelloWorld commented on #355
Thank you so much for your quick response, it helps a lot!

[2020-09-16 07:23] Greg4cr commented on #355
No problem. I will close this now, but feel free to ask more questions.

[2020-09-16 07:23] #355 closed

[2020-09-24 08:03] IntHelloWorld opened #356 "Error when running tests on GZoltar"
Hi
Sorry to borther you

When i am running some test methods of Closure and Mockito on GZoltar with junit-4.12, some methods threw the
**java.lang.Exception: No tests found matching Method initializationError**,
which do not happens when i am running these test methods by Defects4j test, i wonder if it was caused by the dependecy or something else?

For instance, the test result of Time_11 is belo

[2020-10-05 15:36] jose commented on #356
Hi @IntHelloWorld,

Any issue related to GZoltar should be reported in here https://github.com/GZoltar/gzoltar.

--
Best,
Jose

[2020-10-05 15:36] #356 closed

[2020-10-08 01:25] neelofarhassan opened #357 "New Version of Evosuite"
Hello,

A new version of evosuite is now available with additional test generation techniques implemented (e.g Dynamosa).  Unlike evosuite 1.0.6 , evosuite.jar and evosuite-standalone-runtime.jar is not available on the download link (source code only). Could you please suggest how to include the new version in init.sh?

Thanks

[2020-10-09 15:36] rjust commented on #357
Hi @neelofarhassan,

My understanding is that the new EvoSuite release will include the jars (as release assets) soon. Once these are available, we can upgrade Defects4J to use the newest version.

In the meantime, you could build EvoSuite yourself, locally add the built jars, and test the new version.

Also, we'd welcome a pull request that updates the init.sh script once the jars for the new Evo

[2020-10-09 17:41] jose commented on #354
Hi @veronica-sheng,

There is indeed.  You can generate coverage matrices like that one with [GZoltar](https://github.com/GZoltar/gzoltar).  More information on how to do that in [here](https://github.com/GZoltar/gzoltar/issues/30#issuecomment-706308460).

--
Best,
Jose

[2020-10-09 17:41] #354 closed

[2020-10-09 18:40] leofernandesmo opened #358 "It would be good to inform the need of SVN for some projects"
I was trying  to checkout Chart and the following bug appear:
I solved the problem by installing subversion.

[code]

[2020-10-09 20:30] rjust commented on #358
Hi @leofernandesmo,

Are you proposing to add a more descriptive error message or to document that subversion is a requirement. The latter is already the case (see [Requirements](https://github.com/rjust/defects4j#requirements)) -- maybe this could be stated more clearly?

Thanks,
René

[2020-10-09 21:24] leofernandesmo opened #359 "Strange behavior in mutation analysis"
In some projects/bugs, when generating the mutants using D4J it gives a certain number of mutants.
So, as I need the mutants for my study, I use the Major (externally) to export the .java files.
I realized that the number of mutants generated by the external Major was different from the number of mutants generated by the Major in D4J.
When I run defects4j mutation again, it shows the number of mut

[2020-10-09 23:10] rjust commented on #359
Hi @leofernandesmo,

Can you please provide a minimal working example for how to reproduce your reported output? Specifically, what do you mean by executing "external major" in between the two invocations of `defects4j mutation`?

Note that I can reproduce the output with 98 generated mutants.

Thanks,
René

[2020-10-10 02:36] veronica-sheng commented on #354
Hi Jose,

Really appreciate for your reply!

Best,
Veronica

[2020-10-13 18:27] leofernandesmo commented on #358
My mistake,
I had not seen this requirement.

Thanks.

[2020-10-13 18:27] #358 closed

[2020-10-13 18:41] leofernandesmo commented on #359
Hi @rjust ,
External Major means I'm invoking Major directly, without calling D4J for this purpose.
Eg.: Between the two invocations of D4J, I execute:
`$ /.../defects4j/major/bin/javac -cp "/tmp/csv-1-fixed/target/classes/:/.../.maven/repository/junit/jars/junit-3.8.1.jar" -J-Dmajor.export.mutants=true -J-Dmajor.export.directory=./mutants -XMutator:ALL src/main/java/org/apache/commons/csv/Extende

[2020-10-14 18:10] markro49 opened #361 "Closure test suite uses java 7"
I thought all the scripts/tools were upgraded to use Java 8, however it looks like the ant files for Closure (almost?) all contain -Dbuild.compiler=javac1.7 so we get tons of warnings about the java runtime classes being newer than the compiler.  Don’t know if this actually causes any problems or not but useful info may be getting lost in forest of warnings.

[2020-10-14 18:44] rjust commented on #361
Hi @markro49,

Can you provide a bit more context? Are you referring to compiling the developer-written tests that come with the Closure subjects, or are you referring to automatically generated tests for those subjects?

Generally, all scripts and tools are upgraded and tested to work in a Java-8 runtime environment. However, since Java 8 is not fully backward compatible, the source code, includi

[2020-10-14 19:43] markro49 commented on #361
Here is the log file from running "./randoop_coverage.sh Closure 7 debug 2>&1 | tee test.log":
 [test.log](https://github.com/rjust/defects4j/files/5380456/test.log)
Note that I'm using my fork of defects4j (https://github.com/markro49/defects4j) where I have added support for the debug flag and made several other improvements and fixes to randoop_coverage.
You can see that the log file is overloa

[2020-10-20 12:59] jose commented on #247
Hi @mudasirhw,

To the best of many knowledge neither [Cobertura](https://github.com/cobertura/cobertura) or [JaCoCo](https://github.com/jacoco/jacoco) (the well known code coverage library for Java) support out-of-the-box coverage at test case level.

As suggested by @rjust, you could use [GZoltar](https://github.com/GZoltar/gzoltar) to collect statement coverage at test case level and build a co

[2020-10-20 12:59] #247 closed

[2020-10-20 13:07] jose commented on #345
Hi @mou23,

It seems you are using a very very very very very old version of [GZoltar](https://gzoltar.com)...  Issues such the one you reported were fixed a long time ago.  Any chance you could try to use the latest version?  You can find the latest version in [here](https://github.com/GZoltar/gzoltar/releases/tag/v1.7.2) and few examples on how to use in [here](https://github.com/GZoltar/gzoltar

[2020-10-20 13:07] #345 closed

[2020-11-09 13:24] lyhisproving opened #368 "Error when unzipping Major"
Dear @rjust ,
I initialized succesfully and export Path in profile
But when i check installation by using "defects4j info -p Lang",an error happened:

Couldn't find project repositories! Did you (re)run 'defects4j/init.sh'?
Compilation failed in require at /home/liyahui/project/defects4j/framework/bin/defects4j line 33.
BEGIN failed--compilation aborted at
/home/liyahui/project/defects4j/framework

[2020-11-09 13:33] lyhisproving commented on #368
![image](https://user-images.githubusercontent.com/29444833/98547316-f1caac00-22d2-11eb-866b-91db683411b2.png)
this is directory of project_repos

[2020-11-09 13:57] mernst commented on #368
Could you please provide:

* an exact transcript of all the commands you ran, in a form that can be cut-and-pasted into a command terminal

* the full output of all those commands, as a file (not as a screenshot)

That will enable the developers to reproduce and understand your problem.

[2020-11-09 14:04] lyhisproving commented on #368
Command:

[2020-11-09 14:08] lyhisproving commented on #368
before the third step , i executed

[2020-11-09 14:16] ccluo33 opened #369 "An error occurred after using "defects4j info -p Lang""
Dear @rjust ,
This is the first time I used defects4j, and I follow the ReadMe.
After executing "init.sh" successfully, and export the path in /etc/profile.
An error occurred after using "defects4j info -p Lang".

Couldn't find project repositories! Did you (re)run 'defects4j/init.sh'?

Compilation failed in require at /home/ccluo/Desktop/workspace/defects4j/framework/bin/defects4j line 33.
BEGIN

[2020-11-09 14:21] #369 closed

[2020-11-09 14:22] ccluo33 commented on #369
Same question with #368

[2020-11-09 14:22] ccluo33 commented on #369
Same question with #368

[2020-11-09 14:22] lyhisproving commented on #368
After `sudo cpanm --installdeps .`
The result:
`liyahui@ubuntu:~/project/Defect4j/defects4j$ sudo cpanm --installdeps .
--> Working on .
Configuring /home/liyahui/project/Defect4j/defects4j ... OK
<== Installed dependencies for .. Finishing.
`

when executing `./init.sh`:
`
Downloading https://mutation-testing.org/downloads/major-1.3.4_jre7.zip
Downloaded https://mutation-testing.org/downloads/maj

[2020-11-09 14:26] lyhisproving commented on #368
git version: 2.25.1
svn version:1.13.0
java version: 1.8.0_271

[2020-11-09 15:44] mernst commented on #368
Thank you for the details.  That is helpful.

The Major download was corrupted.  This happens sometimes, unfortunately.

I think the init script should halt immediately when it encounters a problem rather than continuing, which makes the problem harder to diagnose.

In the meanwhile, can you try over in a new clone of defects4j?  Retrying this way often resolves the problem.

[2020-11-09 15:46] rjust commented on #368
Unfortunately, I can't reproduce this problem.

To me, the most likely reason for this problem is that the downloaded zip files are corrupted. To verify that this should work in principle, you can try to download and unzip [major](https://mutation-testing.org/downloads/major-1.3.4_jre7.zip) directly.

My best recommendation at this point is to clone and init from scratch. (Given the logs, some zip

[2020-11-10 05:04] lxylxy123456 opened #373 "Cli-7f fails when executing as root"
While playing with defects4j in a docker environment, I noticed that some tests (e.g. `Cli-7f`) fail if I am running `defects4j` as the root user. I am under defects4j version 2.0.0. The git commit sha is `01f13c69425fb8a0db290d12b1d48da1641bf6a9`.
[code]
If the user need to execute as non-root user, please consider adding this to the README.

[2020-11-10 05:06] lyhisproving commented on #368
Dear @mernst,
Unfortunately, i cloned defects4j again,but it still the same error. I download major-1.3.4_jre7.zip,  defects4j-repos.zip, defects4j-gradle-deps.zip,defects4j-gradle-dists.zip manully because it was too slow during the step of `./init.sh`.
After that, I executed `./init.sh` and it was successful.
then i edit the export path in /etc/profile , but `defects4j info -p Lang` still didn't

[2020-11-10 05:10] lyhisproving commented on #368
After the error message , I unzip the following zip files(major-1.3.4_jre7.zip, defects4j-repos.zip, defects4j-gradle-deps.zip,defects4j-gradle-dists.zip) manully ,but it still didn't work.

[2020-11-10 16:44] mernst commented on #368
A [recent change](https://github.com/rjust/defects4j/commit/37c36a5543550ae0bd0f4855c49133c2e0de0b32) might make the init process deal better with poor downloads.

Unfortunately, I cannot help you with any installation process that involves manual steps rather than following the [official instructions](https://github.com/rjust/defects4j/#steps-to-set-up-defects4j).

[2020-11-12 03:13] rjust opened #376 "Execute Randoop multiple times to generate tests for different packages"
To improve the effectiveness of tests generated by Randoop, the wrapper script [randoop.sh](https://github.com/rjust/defects4j/blob/master/framework/lib/test_generation/bin/randoop.sh) should determine the set of all distinct packages (among all target classes) and invoke Randoop multiple times with different packages.

[2020-11-12 17:43] rjust commented on #368
@lyhisproving Does the recent change to the init script fix your problem?

[2020-11-12 17:51] rjust commented on #373
Two thoughts on this:
1. There is no need to run Defects4J as root, and I recommend not running it with root privileges.
2. Based on the log, it seems that you checked out Cli-7 with a non-root user and then executed the tests under root.
    Do you observe the same test failure when checkout, compile, and test are executed under root?
    If so, can you please provide the content of the `failing_

[2020-11-12 18:14] lxylxy123456 commented on #373
@rjust Thanks for the reply. I observer the same error when doing everything under root. Please see the following log for `failing_tests`:
[code]

[2020-11-13 06:48] lyhisproving commented on #368
@rjust Unfortunately,still the same problem.
Besides, three people in my lab have the same problem, Is it because we are using a virtual machine environment?

[2020-11-16 19:56] Marvinmw opened #377 "Cli-buggy 1, one additional failed test reported by GZoltar"
1. Defects4j only gives org.apache.commons.cli.bug.BugCLI13Test::testCLI13
2. GZoltar report addition one failed test, org.apache.commons.cli.BugsTest#test13666 has finished! Has it failed? true

junit.framework.ComparisonFailure: expected:<usage: dir
 -d [<arg>]   dir

 -d []   dir

	at junit.framework.Assert.assertEquals(Assert.java:100)
	at junit.framework.Assert.assertEquals(Assert.java:107)

[2020-11-17 19:58] Marvinmw opened #380 "relevant_tests_of_loaded_classes"
From the fork, https://github.com/speezepearson/defects4j, in framework/projects/, these is the folder, relevant_tests_of_loaded_classes, what does it mean? https://github.com/rjust/defects4j does not have it.

[2020-11-17 20:21] mernst commented on #380
If you are asking about a different fork, then I suggest that you ask on that fork rather than this one.

[2020-11-22 18:40] #380 closed

[2020-11-22 18:40] #377 closed

[2020-11-22 19:43] rjust commented on #377
Can you provide concrete instructions for how to reproduce your two observations? Also, can you please explicitly state what your concerns are? Are you concerned about a true triggering test being missing in Defects4J or are you asking about unexpected output in GZoltar?

[2020-11-23 12:57] #368 closed

[2020-11-23 17:08] rjust commented on #368
@lyhisproving, can you please let us know what solved your issue?

[2020-11-24 01:48] lyhisproving commented on #368
I guess it's because I didn't configure VPN on the virtual machine, so I tried again with Mac Book, and unziped the defects4j_repos.zip manually. After that, it works.

[2020-11-24 01:50] rjust commented on #368
Thanks for following up! Glad to hear that this is working for you now.

[2020-11-24 01:52] lyhisproving commented on #368
Sorry for the trouble, thanks for your help!

[2020-11-25 11:13] islamelgendy opened #381 "Compress test files in .tar.bz2 format"
I have generated test files from the defects4j framework, and they are compressed in .tar.bz2 format. Now I have made some modifications on the test cases, and I want to run the mutation analysis on them (using the `run_mutation.pl` command), which requires the files to be compressed again in a .tar.bz2 format.
I have tried using the linux command `tar -cvjSf folder.tar.bz2 *`, but it is not runni

[2020-11-25 12:20] zzhfocus opened #382 "Failed when using bug-mining"
When I tried to execute the bug-mining process, I went to the step `Analyzing the pre-fix and post-fix revisions of the candidate bugs` , and when I executed the  `initialize-revisions.pl` command, I encountered the following error: `Unknown layout for revision: 1c174ecb91c245fde68b10b7f5a9ac19b2014400 at /home/bitse/Desktop/D4jNew/defects4j/bug-mining1/framework/core/Project/DbUtils.pm line 101.`

[2020-11-25 22:57] rjust commented on #381
Hi @islamelgendy,

Please take a look at http://defects4j.org/html_doc/run_mutation.html#Test_suites, in particular the naming conventions for a test suite archive. Note that you can encode additional information in `test_suite_src` if you want to indicate (in the data files produced by the analysis) that you changed the generated tests somehow.

Best,
René

[2020-11-29 12:27] ccluo33 opened #383 "Build failed in bug-mining"
Hi @rjust,
I want to execute the bug-mining process. And I configure the project "commons-codec" for it.
After I finished the steps 1-4, I ran `./minimize-patch.pl -p Codec -w /home/ccluo/Desktop/workspace/bug-mining5 -b 3` in step 5 (Review and isolate bugs: Manually minimize the bug if necessary (i.e., eliminate features or refactorings)), I got:

It shows the build is failed beacuse the Test is

[2020-11-29 17:31] MaiKitty opened #384 "Format of external test suites"
Hello,
I would like to do some experiments with the algorithms in this project: [https://github.com/ICSE19-FAST-R/FAST-R](https://github.com/ICSE19-FAST-R/FAST-R). It also uses defects4j.
Now I would like to execute one reduction method and take the reduced test suite as input for defects4j and get some coverage information.
Defects4j offers coverage analysis for external test suites. It is said t

[2020-11-30 07:33] zzhfocus opened #385 "Errors in the bug-mining process"
Hello，

I tried to add bugs in Defects4j by following step [bug-mining.](https://github.com/tomecho/defects4j/tree/merge-bug-mining-into-master/framework/bug-mining) However, when I reached the step of `Reviewing and isolating the bugs`, I checked the diff for each fault, typed yes, and then looped the previous commands. I don't know how to solve this problem.

The specific steps are as follows.

[2020-11-30 07:42] Greg4cr commented on #382
Hi @joonzzh,

Thanks for your question and interest in bug mining. The error implies that Defects4J lacks information on the layout (where the source and test code is) for a checked-out project version.

In the `(project name).pm` file in `defects4j/framework/core/Project/`, you need to define the method `determine_layout`. For an example to follow (Apache Commons Codec), see https://github.com/rj

[2020-11-30 07:48] Greg4cr commented on #383
Hi @ccluo33,

Thanks for your question and interest in bug mining. This error implies that Defects4J cannot identify any tests to run.

1) Look at the `relevant_tests` folder (i.e., https://github.com/rjust/defects4j/tree/master/framework/projects/Codec/relevant_tests). Is there an entry for this bug? If not, try to rerun the metadata generation step.

2) Look at the `all.manual.tests` target in t

[2020-11-30 12:43] zzhfocus opened #386 "How to determine whether the bug-mining is executed successfully？"
Hi,

After all the steps of bug-mining are executed, how should I determine whether the bugs has been added successfully? What command should I execute to determine whether the addition is successful, or which file should I check?

If I try to add an existing defect4j project, such as `Apache Commons Csv`, how should I be sure that my Csv project has been added successfully? How should I distingui

[2020-11-30 13:23] Greg4cr commented on #386
HI @joonzzh,

The test script `test_verify_bugs.sh` in  `defects4j/framework/test/` is what you want to use to verify that the added bugs function as expected.

To see if your new bugs are added to an existing project, look at `active-bugs.csv` in the project directory (i.e., https://github.com/rjust/defects4j/blob/master/framework/projects/Codec/active-bugs.csv). Your version of this file should

[2020-12-01 14:13] Greg4cr commented on #385
Hi @joonzzh,

It looks like your minimization changed the results of execution. The trigger tests now fail for different reasons than they originally did. Selecting N should have restored the previous version of the patch.

If it didn't, I'd recommend reperforming bug mining for that revision specifically just to restore the files. In general, it may be a good idea to keep a backup of everything w

[2020-12-01 14:15] #325 closed

[2020-12-02 19:49] soheilazangeneh opened #387 "How to instrument defects4j by another program to log traces?"
How can I instrument defects4j with a javaagent and another jar file so that I can log traces? I mean which file do I need to edit? I am doing it by separately running all .class file of test suites with java and the javaagent, but most of the tests fail!

Thanks!

[2020-12-02 22:10] rjust commented on #387
Hi @soheilazangeneh,

If you want to modify how Defects4J runs the developer-written tests, you could adapt the [run.dev.tests target in the top-level build file](https://github.com/rjust/defects4j/blob/master/framework/projects/defects4j.build.xml#L106). The same is true for [generated tests](https://github.com/rjust/defects4j/blob/master/framework/projects/defects4j.build.xml#L279).

Note that,

[2020-12-03 00:12] soheilazangeneh commented on #387
It it helpful. Thank you so much!

[2020-12-03 00:12] #387 closed

[2020-12-03 09:03] islamelgendy commented on #381
@rjust Thank you very much your help. It worked after following the naming convention.

Best,
Islam

[2020-12-03 09:29] islamelgendy opened #389 "Why only certain classes are targeted from the framework in test generation?"
Hi,
I'm using the command to generate tests for a specific project. However, all the generated test cases are targeting only one class from the entire project. Why is that the case? What is the criteria used by D4J to select the classes.
For example:
`gen_tests.pl -g randoop -p Lang -v 1f -n [id] -o [outputdir] -b 3000` generates test cases covering only the `org.apache.commons.lang3.NumberUtils`

[2020-12-04 05:13] #381 closed

[2020-12-04 05:18] rjust commented on #389
Hi @islamelgendy,

By default Defects4J generates tests for the "buggy" classes -- that is, the classes modified by the bug fix.

You can generate tests for an arbitrary set of classes by setting the `-c` flag. The [html documentation](http://defects4j.org/html_doc/gen_tests.html) provides more details.

Best,
René

[2020-12-06 08:53] rjust commented on #384
Hi @MaiKitty,

The archive needs to include all source files of the test suite and the package structure, if any, needs to be preserved. In most cases, the archive simply contains all folders and files in a source folder (e.g., src/test/java). Please keep in mind that the archive file name should follow the naming conventions listed in the "Test suites" section.

You can run the [gen_tests](http:/

[2020-12-08 11:58] islamelgendy commented on #389
Thanks for your reply.
I have used the `-c` flag before, specifying a text file with the target classes. Using evosuite, the framework was able to generate test cases for the classes. However, using the same text file with randoop, the framework was not able to generate any test cases with a message at the end "Test generator (randoop) did not generate any tests!".
I used the `Lang` as a test subj

[2020-12-10 08:21] MaiKitty commented on #384
Hey René,
thank you for your answer!
The external test suites should have the name format `<project_id-version_id-test_suite_src.test_id.tar.bz2`. What would `test_suite_src` be in my case because I don't use Evosuite or Randoop?

[2020-12-10 21:56] rjust commented on #389
Can you please provide all commands that reproduce the issue for Randoop?

Thanks,
René

[2020-12-10 22:04] rjust commented on #384
You can use any identifier for `test_suite_src`. The identifier shows up in data files (e.g., code coverage results), so you probably want to pick an identifier that intuitively describes the source of these test suites (maybe "fast-r" or something like that?).

[2020-12-12 14:14] MaiKitty commented on #384
Alright, thanks for the help!

[2020-12-12 14:14] #384 closed

[2020-12-17 14:09] islamelgendy commented on #389
The command is simply
`gen_tests.pl -g randoop -p Lang -v 1f -n [id] -o [outputdir] -b 30 -c [dir]/Lang_classes_file.txt`.
in the `Lang_classes_file.txt` I wrote a single line:
`org.apache.commons.lang3.math.Fraction`
After a few seconds a message `"Test generator (randoop) did not generate any tests!"` was shown on the console.

Keep in mind that the same command worked with `-g evosuite`.

Best,

[2020-12-17 18:55] rjust opened #392 "Create Randoop tests for an arbitrary class"
I have used the `-c` flag before, specifying a text file with the target classes. Using evosuite, the framework was able to generate test cases for the classes. However, using the same text file with randoop, the framework was not able to generate any test cases with a message at the end "Test generator (randoop) did not generate any tests!".
I used the `Lang` as a test subject, and I wrote in the

[2020-12-17 19:29] rjust commented on #389
I am able to reproduce this issue, which is related to how Randoop generates tests. I opened a new issue for this: #392.

I'll comment on a workaround in #392 and close this issue.

[2020-12-17 19:29] #389 closed

[2020-12-17 19:30] rjust commented on #392
Instructions for reproducing the issue:

[2020-12-17 19:49] rjust commented on #392
Context:
Randoop is not a targeted test generator. It does not resolve dependencies when given a target class. Rather, it uses a bottom-up approach on a set of classes (or all classes in a system) and has a post-hoc filter that filters the pool of generated tests and retains only tests related to a target class.

Problem:
Defects4J currently [passes only the set of relevant classes](https://github

[2020-12-17 22:41] eyinlojuoluwa commented on #17
Please, is there a way of converting coverage information collected at the statement granularity level to function granularity level? I am just curious and i never know if it is possible and how to go about it.

[2020-12-17 22:43] eyinlojuoluwa opened #393 "How to convert defect4j coverage information collected at the statement granularity level to function granularity level"
Please, is there a way of converting coverage information collected at the statement granularity level to function granularity level? I am just curious and i never know if it is possible and how to go about it.

[2020-12-18 10:41] islamelgendy commented on #392
Thanks @rjust
I think you meant to change the get_relevant_tests (which is get_relevant_classes) to **get_all_classes** not get_all_tests.
It does generate now a test suite. However, looking at the generated test cases, they seem to test all kind of classes, not only the targeted one `org.apache.commons.lang3.Fraction`.
For example, I can see test cases calling methods in `org.apache.commons.lang3

[2020-12-18 16:09] rjust commented on #392
Good catch regarding tests vs. classes -- I fixed the comment.

Yes, Randoop does generate a pool of tests for all classes, but then filters that pool.

I am not entirely sure how Randoop filters the generated tests, when a target class is provided. AFAIK it does use a coverage analysis to identify tests that cover a target class, but I am not sure whether this analysis applies to each test method

[2020-12-23 05:28] ngocpq opened #396 "Is there any option to checkout the source code of a deprecated-bug?"
I don't need to run the tests but only need the source code of some bugs (e.g., Closure 63).
However, these bugs are marked deprecated, and the checkout command failed.

Is there any command line option or a convenient way to checkout those deprecated-bugs?
Thank you!

[2020-12-25 02:54] PetePro opened #397 "Errors happened in the process of Checkout a project"
When I use the `checkout` command, it seems failed. Can you give me some instructions?
Other commands are fine and I execute these commands under `Windows Powershell`.

The failure messages are as follows:
[code]

It seems that `$work_dir` is not initialized, but I have executed the `init` command.

My configuration as follows:
- Defects4J: 2.0.0
- OS: Windows 10
- JDK: 1.8
- Git: 2.21
- SVN: 1.8

[2021-01-04 02:56] neelofarhassan opened #398 "Error for mutation analysis of Common-Collections"
Hello,

Compiling Common-collections using "defects4j compile" works fine, however, "defects4j mutation" gives this error.

 [javac] /home/unimelb.edu.au/nneelofar/Documents/Matilda/software-testing/fault-localization/defects4j-data/Collections-26f/src/main/java/org/apache/commons/collections4/bidimap/TreeBidiMap.java:1740: error: name clash: remove() in TreeBidiMap.ViewIterator and remove() in It

[2021-01-05 02:40] goodtaeeun commented on #397
Hey, Pete.

I had encountered a same problem with you.
The problem was, that -w option does not receive a full path, it only takes a single directory name.
So my solution was to simply give a single directory name for -w option, not a full path.
Then the "defects4j checkout" command will make a directory with the given name under the current directory.

for example,
[code]
would be a working subst

[2021-01-09 07:12] PetePro commented on #397
Thanks Tae, I will try it again.

[2021-01-18 15:17] Longboli opened #399 "How to generate test methods in testMap.csv for mutation analysis?"
hello @rjust

when i execute defects4j mutation -r, I found that the result of mutation analysis testMap.csv only contains test_class name,however  the testMap.csv not contain test method name. i want to know specific test methods in the test class.

for example,for the Chart -1f, the result of mutation analysis contain kill.csv,testMap.csv.
for testMap.csv, only test class name, how to generate t

[2021-01-20 03:35] rjust commented on #399
Hi @Longboli,

You can overwrite the default in Defects4J by changing the [build file](https://github.com/rjust/defects4j/blob/01f13c69425fb8a0db290d12b1d48da1641bf6a9/framework/projects/defects4j.build.xml#L221). The option you want to set is `sort=sort_methods`. You can find more details on the last page of [Major's manual](http://mutation-testing.org/doc/major.pdf).

Hope this helps.

Best,
Ren

[2021-01-20 03:40] rjust commented on #396
Hi @ngocpq,

There is no command-line option for doing so. That said, you can comment out [one line ](https://github.com/rjust/defects4j/blob/master/framework/core/Utils.pm#L482) in Utils to avoid the error.

We probably should add a force flag to the checkout command to simplify this.

@Greg4cr any thoughts on this?

Best,
René

[2021-01-20 03:43] rjust commented on #393
Hi @eyinlojuoluwa,

You can aggregate the line-level information by mapping lines to functions. Maybe the cobertura report (xml) already provides that information?

Best,
René

[2021-01-20 12:15] Greg4cr commented on #396
@rjust I don't think commenting that line will allow checkout, as all of the checkout code right now works solely with the `active-bugs.csv` file. We need to modify the code to also read in the `deprecated-bugs.csv` file.

I was planning on looking at this, but haven't had time to do so. Perhaps soon!

[2021-01-20 17:24] rjust commented on #396
Good point. Maybe moving the bug in question from `deprecated-bugs.csv` to `active-bugs.csv` is a temporary solution for @ngocpq.

[2021-01-20 17:26] Greg4cr commented on #396
Yes, that should work.

[2021-01-20 23:43] #392 closed

[2021-01-20 23:47] rjust commented on #397
@PetePro, did @goodtaeeun suggestion solve your problem?

Looking at your error message, did the folder `./Lang` exist when you invoked the checkout routine with `-w ./Lang/Lang_1_buggy`?

[2021-01-22 23:30] rjust commented on #322
Just to close the loop, did you manage to create the test suites and calculate coverage? The issue in the follow-up question seems to be a misspelled filename (gen_tests vs. run_test_gen).

Can we close this issue?

[2021-01-22 23:32] rjust commented on #344
Feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-22 23:32] #344 closed

[2021-01-22 23:41] rjust commented on #373
I was able to reproduce this behavior.

As noted earlier, I do not recommend running Defects4J with root privileges.

If your use case absolutely requires you to run Defects4J with root privileges, you could inspect the failing test to determine the cause of the failure. My best guess is that the test fails because of some file-level access issue.

[2021-01-22 23:41] #373 closed

[2021-01-22 23:47] rjust commented on #310
Just to close the loop, Defects4J does not currently provide a generalizable script for these types of evolution experiments. That said, the working directory provides access to the underlying version control system, so running a wrapper script around git log/checkout/etc. should work for these use cases.

[2021-01-22 23:47] #310 closed

[2021-01-22 23:50] rjust commented on #308
Feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-22 23:50] #308 closed

[2021-01-22 23:50] rjust commented on #249
Feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-22 23:50] #249 closed

[2021-01-22 23:52] rjust commented on #162
Happy to look at a pull request, if you think that your solution is reusable.

Also, feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-22 23:52] #162 closed

[2021-01-22 23:56] rjust commented on #198
Related to #308.

[2021-01-22 23:56] #198 closed

[2021-01-22 23:58] rjust commented on #396
@ngocpq, feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-22 23:58] #396 closed

[2021-01-23 00:04] rjust commented on #357
EvoSuite 1.1.0 is now the default in [master](https://github.com/rjust/defects4j/commit/f4d46ef1534a7188d625744a6737833217e1845b)

[2021-01-23 00:04] #357 closed

[2021-01-23 00:09] rjust commented on #385
Feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-23 00:09] #385 closed

[2021-01-23 00:11] rjust commented on #383
Feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-23 00:11] #383 closed

[2021-01-23 00:11] rjust commented on #386
Feel free to open a new issue (or reopen this one) if you have additional questions.

[2021-01-23 00:11] #386 closed

[2021-01-23 00:14] rjust commented on #382
Feel free to open a new issue (or reopen this one) if you have additional questions.

Also, @zzhfocus please let us know what parts of the bug-mining documentation need improvements.

[2021-01-23 00:14] #382 closed

[2021-01-23 00:16] #346 closed

[2021-01-23 00:19] rjust commented on #399
@Longboli, I hope this is working for you. Feel free to reopen this issue if you have additional questions.

[2021-01-23 00:19] #399 closed

[2021-01-23 00:22] rjust commented on #268
Incorporated this issue into #275.

[2021-01-23 00:22] #268 closed

[2021-01-23 00:23] #62 closed

[2021-01-23 00:23] #116 closed

[2021-01-23 00:24] #334 closed

[2021-01-23 23:24] #322 closed

[2021-01-24 01:01] Longboli commented on #399
hello @rjust,

This really helped me, thank you very much.

ibo

[2021-01-24 23:25] poosomooso opened #400 "Are JacksonDatabind 89 & 92 the same bug?"
The patches are exactly the same ([89](https://github.com/rjust/defects4j/blob/master/framework/projects/JacksonDatabind/patches/89.src.patch) vs. [92](https://github.com/rjust/defects4j/blob/master/framework/projects/JacksonDatabind/patches/92.src.patch)), and `defects4j info` reports that they fail the same test case and stem from the same bug report. Perhaps one should be deprecated for being a

[2021-01-24 23:46] rjust commented on #400
Thanks @poosomooso for reporting this!

@Greg4cr, this seems like a duplicate to me. Can you please confirm?

@poosomooso, would you be willing to open a PR to mark 89 as deprecated?

Version 2.0.0 deprecated [two duplicates in Closure](https://github.com/rjust/defects4j/blob/master/framework/projects/Closure/deprecated-bugs.csv), so these can serve as an example. Also, to be consistent with the s

[2021-01-25 00:36] poosomooso commented on #400
I've opened PR #401. Does active-bugs.csv also need to be changed?

[2021-01-25 00:48] rjust commented on #400
Great, thank you! And yes, the deprecated bug must be removed from active-bugs.csv.

[2021-01-25 06:10] Greg4cr commented on #400
@poosomooso @rjust Yep! Looks like a duplicate. Thanks for discovering that, and for the PR.

[2021-01-26 08:06] Greg4cr commented on #398
@neelofarhassan

Thank you for the report. I am able to reproduce the issue. We will look into it and see what we can do to fix it!

[2021-02-02 00:36] rjust commented on #398
I was also able to reproduce this. Seems like a backward-compatibility issue (Java 7 vs. Java 8). We are about to update Major in Defects4J; I'll test the newer Major version on Collections to see whether this solves the problem.

[2021-02-04 10:03] 47attribute commented on #353
Hi, @neelofarhassan.
I'm in the same trouble. Can not checkout for the 1-83 versions of Jsoup. But other projects/versions is fine.
Is my configuration wrong?

[2021-02-04 10:12] Greg4cr commented on #353
Hi @47attribute, can you share any information on how you are checking out the bug? (e.g., the commands used, scripting surrounding those commands, are you clearing the directory before checking out?, operating system used)

Are you seeing the same error as @neelofarhassan? `error: Your local changes to the following files would be overwritten by checkout`

[2021-02-04 10:30] 47attribute commented on #353
My system is Ubuntu 16.04.7 LTS. The commands and error info are following ( Just Jsoup1-81)
[Pic](https://github.com/47attribute/BugReport/blob/main/befccaf7e7694ee7196a5ff0e956027.png)

[2021-02-04 10:33] Greg4cr commented on #353
Thanks @47attribute. I'll look at it when I get a little time and see if I can figure out a reason (and why it works for some people).

[2021-02-10 10:50] CI-Bugs opened #402 "Math Bugs - git commit urls - produce 404 Error"
Hello Team,

I was trying to run some experiments on the defects4j data set. In an attempt to automate my runs, I would need an url of git commit for every Math bug. But I am facing few challenges while preparing/accessing the url as below

1. I found a config @  ./defects4j/project_repos/commons-math.git/
    It mentioned the git repo : url = https://github.com/apache/commons-math.git

2. I found

[2021-02-10 10:50] #402 closed

[2021-02-10 11:27] VinayKabadi opened #403 "Math Bugs - Git Commit Url - 404 Error Code"
Hello Team,

This is regarding the defects4j, as I was studying the dataset in a process to work on a few APR tools.

In an attempt to run some experiments on the defects4j dataset and automate, I was trying to find the git commit url for the Math bugs. But I am facing few challenges to prepare the url as below

- I found a config @  ./defects4j/project_repos/commons-math.git/
       It mentions t

[2021-02-11 13:42] jose commented on #403
Hi @VinayKabadi,

I believe the official commit history of commons-math was re-written at some point and because of that the commit hashes in the [`commit-db` file](https://github.com/rjust/defects4j/blob/master/framework/projects/Math/commit-db) no longer exists in the official repository.

For your study/work, would the repository provided by D4J (i.e., `defects4j/project_repos/commons-math.git`

[2021-02-13 00:33] VinayKabadi commented on #403
Hello Prof  Jose,

Thanks for your reply ,

As you mentioned the commons-math was re-written hence the commit hashes in the commit-db file no longer exists in the official repository.

There are 2 ways you can help us

1. If you have a list of the new commit hashes, please provide the reference and that should help us
2. Else if you could point me to a official git repo (or a back up repo) where I

[2021-02-21 02:46] mxx1219 opened #404 "Compiling and testing can consume too much time."
![4b2c94da9bb9420aa07ca1bb48e3301](https://user-images.githubusercontent.com/17797550/108613880-e1c57b00-7430-11eb-8641-a77f219e11a1.png)
![3c15a8c6f9963a7829ccc23043a1bdc](https://user-images.githubusercontent.com/17797550/108613884-e427d500-7430-11eb-9c93-a944a0b95b92.png)
pic1 and pic2 are two logs while compiling Time_7 (just an example)  on two Linux OS server node. However, the runtime of th

[2021-03-06 22:22] rjust commented on #404
Hi @mxx1219,

It's hard to tell what might cause the latency in the first run. Maybe blocking IO, high-latency file system, overloaded machine, etc. Clearly, 40 minutes is extreme. One difference seems to be that the first run uses a different mount point (/home vs. /sdpdata1). Are the home directories perhaps on a slow (network) filesystem? Maybe profiling the execution on the problematic machine

[2021-03-06 22:32] rjust commented on #403
Hi Vinay,

As José mentioned, you can access a clone of the official git repo in `defects4j/project_repos/commons-math.git`. This repo does provide access to all bugs and all commits. (The man git pages or [the git-scm book](https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols) provide details for how to use a git repo in a local file system.) Note that defects4j provides the repos for a

[2021-03-31 10:37] islamelgendy opened #406 "Mutation analysis fail"
Hi sir,

I face a problem in running the run_mutation.pl command. Sometime it fails with this error message at the step "Running ant (mutation.test)". The run_coverage for the same test suite works. Also, after multiple attempts to run the mutation analysis using the same command, it works. The message that appears after failing is:

[code]
The exact command used is: `run_mutation.pl -p Cli -d /ho

[2021-04-02 20:11] dprabah opened #407 "Mutation analysis throws exception for few bug id's in project Mockito"
Dear Prof. Just,

When we execute the command "**defects4j mutation**", for the project = "**Mockito**" with Bug-id=[1-10, 18, 20, 21, 35] it fails.

Ms. LuisaLiu had already discussed in this thread.
[https://github.com/rjust/defects4j/issues/308#issuecomment-604411028](https://github.com/rjust/defects4j/issues/308#issuecomment-604411028)

We saw two type of error:
[code]
Is there something we co

[2021-04-04 14:02] ccluo33 opened #408 "Some problems in bug mining process"
Hello，

We tried to add bugs in defects4j by following step bug-mining. We tried a lot of Apache projects, but in the second step, when executing "./initialize-revisions.pl -p $PROJECT_ID -w $WORK_DIR", we meet some probelms.
1. The download dependency failed, most commonly with some JAR packages in the Snapshot version.
![image](https://user-images.githubusercontent.com/32474922/113510697-a15c2f8

[2021-04-08 18:21] islamelgendy commented on #406
More information about the problem. I have generated a test suite for the "Cli" project using the framework. Then, I ran the mutation and coverage analysis successfully on the produced test suite. The next step is that I have reduced the generated test suite by removing some test cases at random, and tried to run the mutation and coverage analysis again.
Now the problem arises as described above.

[2021-04-08 18:37] rjust commented on #406
This sounds like a test-dependency issue.

Depending on what you are trying to do, you might want to take dependencies into account when you randomly downsample a generated test suite, or you could post-process the downsampled test suite, e.g., using the [fix_test_suite script](https://github.com/rjust/defects4j/blob/master/framework/util/fix_test_suite.pl).

[2021-04-08 18:40] rjust commented on #407
Can you please provide all commands necessary to reproduce this issue (presumably starting with defects4j checkout)?

Thanks,
René

[2021-04-09 08:37] dprabah commented on #407
Dear Prof. Just,

the below commands will reproduce the exception.

[code]

Kind Regards,
Prabah.

[2021-04-09 12:36] islamelgendy commented on #406
@rjust Thanks for replying.
Just to make sure, I run the fix_test_suite.pl command on the reduced test suite to remove any non-working test cases, and then run the mutation on the result. Did I understand you well?
I'll try to do that and get back to you, and thanks again for your help.

[2021-04-10 19:28] islamelgendy commented on #406
The issue has been solved using the fix_test_suite.pl command.
Just a note for others if faced with the same issue, don't forget to add the Defects4J's utils to your PATH: `defects4j/framework/util` with the executables `defects4j/framework/bin`.

Thanks for your help!

[2021-04-10 21:20] rjust commented on #406
Glad that this is working for you -- thanks for confirming!

[2021-04-10 21:20] #406 closed

[2021-04-13 16:06] rjust commented on #408
Hi @ccluo33,

Thanks for reaching out; looking forward to seeing a PR with additional bugs in the future!

Does the dependency issue manifest for very old versions or for all versions of the software for which you are mining bugs?

The download-issues script has an optional argument (-u) that allows you to use a different tracker uri.

Best,
René

[2021-04-13 16:55] #404 closed

[2021-04-13 17:42] rjust commented on #404
@mxx1219 what was the solution to your problem?

[2021-04-13 17:47] mxx1219 commented on #404
@rjust It's the distributed file system's problem of my cluster, which is not relevant to defects4j. Thanks!

[2021-04-13 18:02] rjust commented on #404
Thanks for confirming.

[2021-04-14 05:30] mxx1219 commented on #342
@rjust Thanks for your attention.

[2021-04-14 05:30] #342 closed

[2021-04-14 05:30] #340 closed

[2021-04-26 13:14] jiseongg opened #409 "Should all modules in `cpanfile` need to be installed manually?"
Hi, I'm setting up defects4j, but there was a DBI issue. The steps written in `README.md` do not seem to setup perl module dependencies well.

First, here is my environment.
- Ubuntu 18.04 (on virtualbox)
- openjdk version "1.8.0_282"
- git version 2.17.1
- svn, version 1.9.7 (r1800392)
- This is perl 5, version 26, subversion 1 (v5.26.1)

All above satisfy the requirements written in README.md

H

[2021-06-02 14:55] anjiperera opened #410 "defects4J export -p cp.test returns a library that does not exist"
`defects4J export -p cp.test` command returns the following classpath when executed for the Math-70 bug.
`/home/ab/math-70/target/classes:/home/ab/math-70/target/test-classes:/home/ab/defects4j/framework/projects/lib/junit-4.11.jar:/home/ab/math-70/lib/junit-4.4.jar`

*math-70 is the directory where the Math-70 bug is checked out.
However, the `/home/ab/math-70/lib/junit-4.4.jar` library does not

[2021-06-03 08:40] SZTankWang opened #411 "error occurring when trying to checkout a project version"
Hi, I just started out with defects4J, and I am trying to checkout the very first buggy version using **Lang** as an example.
I run`defects4j checkout -p Lang -v 1b -w Lang_1_buggy` under folder **Lang**, and I have created **Lang_1_buggy** beforehand. Here is the output of the execution:
[code]

It seems that there are problems with `git apply` and I think the problem is that the patch file canno

[2021-06-10 09:29] SZTankWang commented on #411
Problem solved by switching from windows 10 to ubuntu. 🍻
Regards,
Zhenming

[2021-06-10 09:29] #411 closed

[2021-06-16 08:51] andrewhabib opened #412 "JacksonDatabind-70b fails to checkout"
When checking out the buggy version of JacksonDatabind 70 I get the following error:

Check out program version: JacksonDatabind-70b............................. FAIL

Executed command: cd /home/ah/datasets/defects4j/_buggy/JacksonDatabind-70 && git checkout D4J_JacksonDatabind_70_BUGGY_VERSION 2>&1 && git clean -xdf 2>&1

error: pathspec 'D4J_JacksonDatabind_70_BUGGY_VERSION' did not match any fi

[2021-06-22 19:22] ekincanufuktepe opened #413 "Is it possible to include more than one or all the active bugs in one version of a project"
I am not sure if my attempt makes sense or not, but I want to include all the active bugs in one single version of a project. The reason why I want to do this is that I want to do a regression test case prioritization based on changes that are made in the project.

However, from my past experience with mutation testing, when mutants are isolated some test cases kill these mutants. But, when the mu

[2021-06-29 17:52] Marvinmw opened #414 "init.sh shows Defects4J successfully initialized but get DBI.c: loadable library and perl binaries are mismatched (got handshake key 0xde00080, needed 0xcd00080)"
I follow the readme file to prepare the environments. I use ubuntu 20
But after I do everything, I execute 'defects4j info -p Lang', get the error
DBI.c: loadable library and perl binaries are mismatched (got handshake key 0xde00080, needed 0xcd00080)

[2021-06-29 18:03] #414 closed

[2021-07-05 15:13] willianjferreira opened #415 "How to get the value of the coverage variables (ef, ep, nf, np) ?"
How can I get the values of the four covering variables (ef, ep, nf, np) to run the tarantula heuristic?

[2021-07-08 07:31] sianghwee commented on #397
Hi @rjust, I am facing the above mentioned issue even after trying out the suggestion by @goodtaeeun. The error message is as follows.
[code]

My setup is as follows:
* Defects4J: 2.0.0
* Windows: 10.0.19043
* JDK: 1.8
* Git: 2.30.0
* Perl: 5.32.1
* SVN: 1.14.1

Feel free to let me know if you require any other details to narrow down the issue. Thank you!

Regards,
Siang Hwee

[2021-07-12 12:34] islamelgendy opened #416 "Collections project fail in mutation"
Hi,
I'm trying to run the mutation analysis on the 'Collections' project. First, I have generated the test suites using the following command:
`gen_tests.pl -g randoop -p Collections -v 27f -n 3000 -o [output dir] -b 30`
Then, I'm trying to run the coverage and mutation commands (run_coverage.pl and run_mutation.pl) on the generated test suite. The coverage works fine, and produces the coverage re

[2021-07-13 20:15] dennislopes opened #417 "How to use a different coverage tool"
Hello Just,

We already discussed before and I would extend defects4j in order to use a new coverage tool. We want to use ba-dua instead of cobertura.
Could you please give an overview on how it could be made? For ba-dua we have this process:

1) test execution, 2) coverage report

I don`t need to instrument the classes, so the process seems to be more easier that using Cobertura. Below you have a

[2021-07-15 10:06] islamelgendy commented on #96
Hi there,
I'm having a problem with fixing my test suite. Here is my test suite that need to be fixed.
[Csv-3f-randoop.30.zip](https://github.com/rjust/defects4j/files/6822213/Csv-3f-randoop.30.zip)
Running the 'fix_test_suite.pl' gives a bug similar to the one reported here:
[code]
I can solve this by manually removing the method causing the problem (test00964 in this case). Rerunning the fix_tes

[2021-07-15 10:17] islamelgendy opened #418 "rm_broken_tests Could not extract method body"
Hi @rjust ,

I'm having a problem with fixing my test suite. Here is my test suite that need to be fixed.
[Csv-3f-randoop.15.zip](https://github.com/rjust/defects4j/files/6822293/Csv-3f-randoop.15.zip)

Running the 'fix_test_suite.pl' gives a bug similar to the one reported [here](https://github.com/rjust/defects4j/issues/96)

`Remove uncompilable test method(s)....................................

[2021-07-15 10:49] islamelgendy opened #419 "fix_test_suite infinite loop"
Hi @rjust ,

I have a test suite generated from Randoop. I took only the first 1500 test cases and I need to fix that new test suite. The issue is that running the fix_test_suite on that test suite gets into an infinite loop. There was a similar issue [here](https://github.com/rjust/defects4j/issues/105).

Here is the test suite so you can reproduce the problem.
[Csv-3f-randoop.26.zip](https://git

[2021-07-15 11:25] jose commented on #96
Hi @islamelgendy,

It seems you're not using the latest D4J version, as your error message points to an [empty line](https://github.com/rjust/defects4j/blob/master/framework/util/rm_broken_tests.pl#L152). Any chance you could (1) upgrade your D4J installation to the latest version and (2) re-run the `fix_test_suite.pl` script?

--
Best,
Jose

[2021-07-20 17:49] rjust commented on #419
Hi @islamelgendy,

Thanks for reporting this and providing the test suite. Let me take a look at the test suite to see where and why the test-method extraction fails.

Best,
René

[2021-07-20 18:57] rjust commented on #418
Hi @islamelgendy,

I pushed a fix for this to the [test-extraction branch](https://github.com/rjust/defects4j/tree/test-extraction). I'll merge this into master soon.

Let me know if the test-method extraction chokes on other generated test methods.

Thanks,
René

[2021-07-20 19:02] rjust commented on #419
Hi @islamelgendy,

I can't reproduce the issue with the provided test suite. The fix_test_suite script shows 0 failing tests in the test suite on my end.

Can you please let me know what test methods were failing on your end?

Thanks,
René

[2021-07-21 02:56] rjust commented on #416
Thanks for reporting this, @islamelgendy.

I was able to reproduce this and will look into the root cause.

Best,
René

[2021-07-21 03:10] rjust commented on #413
Hi @ekincanufuktepe,

You probably can inject multiple active bugs in a single version of the project, but probably not all of them. I suspect that injecting multiple bugs into the most recent version is your best bet (e.g., injecting bugs Lang-2, Lang-3, etc. into the source code of Lang-1; make sure to check the timestamps of the bugs to identify the newest version). Since the bugs span multiple

[2021-07-21 03:18] rjust commented on #412
Hi @andrewhabib,

Is this still an issue for you?

I couldn't reproduce it -- all buggy and fixed project version check out fine on all of our machines (Linux and OSX).

If this is still an issue, let's try to narrow it down. What OS and environment are you using?

Best,
René

[2021-07-21 03:36] rjust commented on #409
Hi @jiseongg,

Thanks for pointing this out. sudo isn't necessarily a requirement to install the dependencies; it is possible to install the dependencies in a local library. If the local installation was successful, you should see a number of perl-related environment variables being set in your .bashrc (or equivalent for different shells) and the modules installed at the location referenced by the

[2021-07-21 03:39] rjust commented on #410
Thanks for reporting this, @anjiperera!

We will fix the exported classpath. As a workaround, it is safe to assume that the default version of junit (4.11) is sufficient to reproduce the bugs.

[2021-07-21 04:12] audreyseo opened #421 "Fail more gracefully/fix build analyzer when junit task is not found in build file"
The java build file analyzer for ant fails with a null pointer exception when there is no junit task found in the build file. For example:

[code]

For `commons-io` at commit `bcc797b5`, this is what the test target looks like in the `build.xml` file:

[code]

Instead of using the junit ant task, it instead runs the junit test runner -- in this case, `test.runner=junit.textui.TestRunner`.

Either

[2021-07-21 04:38] #418 closed

[2021-07-21 12:41] andrewhabib commented on #412
Hi @rjust ,

My bad! Seems like it was a java version issue.
Everything works fine. Sorry about that!

[2021-07-21 12:41] #412 closed

[2021-07-21 16:04] rjust commented on #412
Glad this is working for you -- thanks for confirming!

[2021-07-22 11:36] jose commented on #413
Hi @ekincanufuktepe,

Quick heads up, @djpaterson developed (in [here](https://github.com/djpaterson/defects4j)) a [`combine`](https://github.com/djpaterson/defects4j/blob/master/framework/bin/d4j/d4j-combine) command which allows one to "combine faults in a particular project version".  [Here](https://github.com/djpaterson/defects4j/blob/master/framework/util/possible_patches.csv) is the set of f

[2021-07-26 15:38] rrrrrrockpang opened #422 "Automatically check failing tests in get_trigger do not result from configuration issues."
In this [step (Reproducing Bugs, `get_trigger.pl`) ](https://github.com/rjust/defects4j/blob/master/framework/bug-mining/README.md#reproducing-bugs), we need to a way to automatically check whether each bug candidates exist in the `trigger_tests` folder. The script should flag bugs for manual inspection.

Below is the pseudocode:

[code]

[2021-07-27 21:02] EhsanMashhadi opened #423 "Test Classes Are Different"
Hi,

I was investigating the Cli3 project, and when I tried to get the test classes with `defects4j export -p tests.all` it shows me these test classes:

[code]

But when I navigate to the test directory, I found that there is a test class`LongOptionWithShort.java` which is not provided by the above commands.

Would you please help me with this?

[2021-07-27 21:29] rjust commented on #423
Hi @EhsanMashhadi,

This class does not match the include patterns defined in the build file. In other words, this class would not be considered for testing if you were to run ant test or mvn test (you can check the build.xml and project.xml in the working directory). This is the reason why Defects4J also does not report this class as a test class.

Hope this helps.
Best,
René

[2021-07-27 21:47] EhsanMashhadi commented on #423
Thanks for the quick response. I just checked those files quickly. Do you mean this is because of these lines?

[code]

1) Would you please help why there is a such restriction? As far as I know, it is not necessary to put the "Test" word in the test classes names, and it is just a recommendation to do that.

2) What would happen if I just change that pattern manually to cover all the test files?

[2021-07-28 03:50] rjust commented on #423
These build files were written by the developers of the Cli project. We can only speculate about why the developers excluded that one file, but since they explicitly declared what tests should be run, Defects4J adopts those settings.

You can change the include patterns to execute more tests, but there are no guarantees that the additional tests will pass on the fixed program version. Depending on

[2021-07-28 11:29] andrewhabib opened #425 "Feature request: export full compilation command"
Hi,

It would be nice if one could export the full compilation command of a bug as one of the properties.
I observed that some bugs (e.g.,  Lang-25, Lang-42, Lang-62) require a specific compilation option (in the aforementioned cases it was `-encoding iso-8859-1` ).

In a use case where one tries to analyze/compile only modified (aka buggy) classes, this could be very helpful.

Regards,

[2021-07-28 20:36] andrewhabib opened #426 "Mockito-5b is missing junit from its classpath"
Hi,

The buggy version of Mockito-5 (Mockito-5b) is missing junit jar on the compile path.

Although defects4j compiles Mockito-5b without failure (probably through some other junit dependency defined in the build file), any analysis, e.g., trying to compile the buggy file using the provided compilepath will fail because junit is missing.

For instance, the following compilation command of the bug

[2021-07-29 08:02] Furqan1990 opened #427 "'defects4j' is not recognized as an internal or external command"
I need help with this problem
"'defects4j' is not recognized as an internal or external command,
operable program or batch file." I am trying to give Defects4J PATH but it's always giving me an error. I am using windows 10 operating system
![Capture](https://user-images.githubusercontent.com/34020456/127454625-fceacbf3-2133-4a35-9c7e-ce425e077fd9.PNG)

[2021-07-30 06:16] rjust commented on #427
On Windows, you may need to call the defects4j command using `perl <fullpath to defects4j>\defects4j`.

[2021-07-30 06:20] rjust commented on #425
Hi @andrewhabib,

 This is something we are currently looking into. I don't have a timeline, but the goal is to provide javac and java/junit commands to compile the code and run the tests.

Best,
René

[2021-07-30 06:24] rjust commented on #426
Thanks for reporting this.

Yes, Defects4J puts [JUnit 4.11](https://github.com/rjust/defects4j/tree/master/framework/projects/lib) on the classpath by default. We will look into exporting the correct classpath. As a workaround you can append JUnit 4.11 to your classpath.

Best,
René

[2021-07-30 09:45] Furqan1990 commented on #427
it doesn't work that way either, still same issue "'defects4j' is not recognized as an internal or external command"

[2021-07-30 10:19] Furqan1990 commented on #427
Access Denied

[2021-07-30 11:07] Furqan1990 opened #428 "Access denied why"
I can't access to defects4j, I am using perl on Windows 10

![Capture](https://user-images.githubusercontent.com/34020456/127644277-7fdae33c-30ae-4102-bd0a-845b78c90e4e.PNG)

[2021-07-31 09:09] andrewhabib commented on #426
Sure, I am doing my own workarounds.

Actually, several of Mockito bugs are missing junit from the compile path.

[2021-07-31 09:11] andrewhabib commented on #425
This will be very very helpful. I look forward to seeing those features :)

[2021-07-31 09:21] andrewhabib opened #429 "Several of Cli bugs have wrong compile path"
Hi again,

Cli 1, 2, 3, 7, 13, 14, 15, 16, 21 bugs export the wrong compile path.
The wrong paths point to /root/.maven/repository/ which seems like the default for original Cli, but not suitable for d4j.

Btw, my apologies if I am opening too many tickets over a short time span. The goal is to keep d4j running as smoothe as possible ;)

[2021-08-02 12:59] Furqan1990 commented on #397
![Capture](https://user-images.githubusercontent.com/34020456/127865620-f77407eb-56b3-439d-9b65-aca3256f1326.PNG)

Sorry i can't access for Defects4j in any means i am using windows 10 here is the problem i am facing right now. I tried everything but seems like it's not working. Please help me out if you can

[2021-08-04 15:33] 20171113 opened #430 "using multiple test by different generator in run_coverage.pl"
Dear rjust,

Thanks for good tool, but I have one question about `run_coverage.pl` scripts.

We generated own test suites (not evosuite nor randoop), its name convention is "~~~ESTest_P.java".
`run_coverage.pl` works well when we used only evosuite tests or our tests. (they have fully different coverage)

But when we using archive including both evosuite and our files, it seems that only evosuite

[2021-08-04 16:13] ekincanufuktepe commented on #413
Hi @rjust and @jose

Thank you for the valuable information!

@rjust,

I think I found a paper titled [An Empirical Study on the Use of Defect Prediction for Test Case Prioritization](https://ieeexplore.ieee.org/document/8730206), which I believe @jose is one of the authors. They have also mentioned the difficulties of using APFD (Average Percentage of Faults Detected -a metric for measuring testi

[2021-08-04 18:40] audreyseo opened #431 "compile-tests does not exist; it is used from the target compile.tests"
The `hastarget` `scriptdef` does not access its `targetname` attribute:

[code]

Instead, it sets `var targetname = attributes.get("property");` instead of `var targetname = attributes.get("targetname");`

Additionally, using

[code]

does not seem to prevent ant from trying to find `compile-tests`, even when `newLayout` is false. The following patches both the original `compile.tests` does not ex

[2021-08-04 18:40] audreyseo commented on #431
The PID-agnostic version of the `scriptdef` patch:

[code]

[2021-08-06 21:24] audreyseo opened #432 "Bug mining: empty and/or wrong fileset due to improper setting of test.dir"
The property `test.dir` points to the wrong location for revision 98f of `commons-validator`.

Information for collecting bugs from `commons-validator`:

[code]

This in particular affects `all.manual.tests`:

[code]

When running `analyze-projects.pl` with `-D` for verbose output, `pathconvert` for `run.dev.tests` and no includes or excludes for `all.manual.tests`, it shows that there are no java

[2021-08-07 00:38] audreyseo opened #433 "Bug-mining: Automatically add includes/excludes to all.manual.tests fileset at end of initialize-revisions.pl"
This would make it less of a hassle to try to add the includes/excludes. The message that prompts the user to add the includes/excludes could alternatively be improved:

[code]

Instead of putting a placeholder for `<PROJECT_ID.build.xml>`, it could instead provide the actual path to that file, something like

[code]

where `/path/to/Io.build.xml` is an absolute path. This also avoids conflating t

[2021-08-09 14:07] islamelgendy commented on #419
Hi @rjust
I'm sorry for taking so long to get back to you.
So, running the "fix_test_suite" on that test suite gives error on my end. Here is a sample of the errors displayed in one of the iterations:
[code]

[2021-08-10 05:41] SZTankWang commented on #428
a quick workaround would be using a ubuntu virtual machine :)

[2021-08-10 07:50] 20171113 commented on #430
Issue solved by adding `extend scaffolding` to our test files.

Thank you.

[2021-08-10 07:50] #430 closed

[2021-08-10 10:50] islamelgendy commented on #419
The same problem happened again using this Math test suite. You might be able to reproduce the errors using this one:
[fix_test_suite.summary.log](https://github.com/rjust/defects4j/files/6960963/fix_test_suite.summary.log)
[Math-1f-evosuite.3000.zip](https://github.com/rjust/defects4j/files/6960964/Math-1f-evosuite.3000.zip)

[2021-08-13 03:11] SZTankWang opened #434 "Consecutive versions of defects4j: explanation needed"
Hi Professor Just: @rjust
I am differing the 3rd fixed version of `Lang` and the 4th fixed version of `Lang`, and I found that it seems that :
- the 4th fixed version of  `Lang` does not solve the 3rd bug, because when I copy the triggering failing test for `3b` to `4f`, the test still fails.  According to the original paper of defects4j, it seems that each fixed version correpsonds to a fixed ver

[2021-08-13 14:45] SZTankWang commented on #434
Possible Important observation:
By looking at the `revision date` for each bug using `defects4j info`, I found that revision dates for bugs are not in the same order as their number. For example. the revision date (fixed version) of `Lang` - bug 4 is 2013-04-23, while that of `Lang` - bug 3 is 2013-05-19. So bug 3 was fixed after bug 4, and that explains why the triggering test for **bug 3** was n

[2021-08-13 15:39] SZTankWang opened #435 "Question on compiling d4j projects using Ant /Maven"
Hi Professor Just @rjust :
I am using Java 8 on my machine, with JAVA_HOME pointing to a openjdk-8, and `java -version` gives information of open-jdk-8. Now, after I check out a version of d4j projects, say `Lang`,
+ if I do `defects4j compile`, it gives me no error
+ if I do `mvn package`, it gives me error complaining
[code]
By checking the Internet I know that this is a java version problem.

-

[2021-08-13 18:39] mernst commented on #434
The current version of Defects4J is 2.0.0.  I think you are not talking about versions of Defects4J, but about distinct bugs in the subject programs (such as Lang) that make up Defects4J.

Those bug numbers, such as 3 and 4, are arbitrary.  They are not in any particular order (that is, "consecutive" does not apply) and they do not have anything to do with one another.  You should treat each buggy

[2021-08-14 02:52] SZTankWang commented on #434
@mernst Thanks for the response. I checked the `revision date` of each bug in `Lang`, and I do find that they actually forms a descending order, i.e., the first bug was fixed most recently, while the last bug was fixed the earliest.
Also, could you provide some insights (if possible) on my new issue #435?

[2021-08-15 09:17] claudeyj opened #438 "Questions on the patches"
Hi Professor,
I'm a little confused about your provided patches. For example, https://github.com/rjust/defects4j/tree/master/framework/projects/Cli/patches. Intuitively I thought they are developer patches. However, when I checked them carefully it seems that you ran the command "diff fixed-version buggy-version" instead of "diff buggy version fixed-version". Does that mean that the patches are us

[2021-08-15 11:27] SZTankWang commented on #438
I believe that you are right. It was mentioned in d4j's original paper that irrelevant modifications was removed and only changes relevant to the specific bugs were preserved.
[](https://people.cs.umass.edu/~rjust/publ/defects4j_issta_2014.pdf)

[2021-08-15 11:35] claudeyj commented on #438
Thanks for your reply! If so, I believe the reverse of patches d4j provided can be regarded as developer patches.

[2021-08-15 12:27] SZTankWang commented on #438
@claudeyj  Hi yj, are you also a researcher trying to use d4j ? I would be happy to add you on wechat :)

[2021-08-15 12:33] SZTankWang commented on #435
@jose Hi jose, could you provide some insights on this?

[2021-08-15 12:34] SZTankWang commented on #435
@jose Hi Professor Jose, could you provide me some insights on this? Btw I am also using Gzoltar to assist my research😂

[2021-08-15 15:02] claudeyj commented on #438
@SZTankWang Hi, of course, nice to meet you! My wechat id is wxid_3py9wtnfevtx22 .

[2021-08-15 15:31] SZTankWang commented on #438
@claudeyj Hey, it seems that I cannot reach you using this id. Here's mine, woshiatan2000

[2021-08-16 08:38] Greg4cr commented on #438
Hi @claudeyj,

The patches in Defects4J are not developer patches. They are _reverse patches_ that introduce a bug into working code. This is a similar concept to mutation testing, where a code transformation is applied to break the code. When you "check out" a buggy version in Defects4J, you check out the _working code_, then apply a patch that introduces a bug into that code.

This is not quite

[2021-08-16 08:44] Greg4cr commented on #434
Hi @SZTankWang,

The order can vary based on bug mining was conducted, and whether additional bugs have been added over time.

- The first projects in Defects4J tend to be ordered newest -> earliest.
- The newer projects are ordered earliest -> newest
- Closure had additional bugs added, so the bugs after 133 are not sorted chronologically with the bugs before 133.

Do not make assumptions about t

[2021-08-16 08:51] claudeyj commented on #438
Hi professor @Greg4cr, got it, thank you so much for your help!

[2021-08-16 08:52] Greg4cr commented on #438
No problem, please let us know if you have other questions.

[2021-08-16 08:52] #438 closed

[2021-08-16 14:55] islamelgendy commented on #416
@rjust
Any updates on the issue?

[2021-08-16 21:32] rrrrrrockpang opened #439 "grep compatibility issue bsd vs gnu"
grep: unrecognized option `--no-group-separator'
usage: grep [-abcDEFGHhIiJLlmnOoqRSsUVvwxZ] [-A num] [-B num] [-C[num]]
        [-e pattern] [-f file] [--binary-files=value] [--color=when]
        [--context[=num]] [--directories=action] [--label] [--line-buffered]
        [--null] [pattern] [file ...]

[2021-08-17 09:21] SZTankWang commented on #435
@Greg4cr Thank you for the explanation Professor Greg!
However, I still looking forward to a reason why the observed behaviour happens. Could you help me?
@Greg4cr  @rjust

[2021-08-17 17:39] rjust commented on #432
The root cause of this problem is that the original Ant build file is outdated and incorrectly defines test.dir.

We made two changes to avoid this problem in the future: (1) prioritize Maven over Ant build files; (2) rely on the directory layout map in Defects4J rather than the properties defined in existing build files. These changes currently live in the bug-mining branch and will be merged ups

[2021-08-17 17:39] #432 closed

[2021-08-17 21:20] #431 closed

[2021-08-18 14:53] islamelgendy opened #441 "JacksonXml failure to generate test cases using EvoSuite"
Hi there,

I tried to generate some test suite for the JacksonXml project using the EvoSuite generator. However, it is failing to do so using any version of the fixed versions (from 1 to 6).
The command that I used: `gen_tests.pl -g evosuite -p JacksonXml -v 1f -n 50 -o [output dir] -b 30`

This gives the following output:
[code]

It is worth noting that I was able to generate test suites using ra

[2021-08-19 06:21] jiseongg commented on #409
Hi @rjust ,

Sorry for late answer. I'll write comment after get used to using this repo again. It's been a while since I visited here before.

[2021-08-19 17:59] mernst commented on #435
As @Greg4cr noted, you must use the `defects4j compile` and `defects4j test` commands to compile and test.  They ensure that the environment is set up properly to reproduce bugs, rather than using settings and programs in your environment or shell.  Given that you now know how to reproduce the bug correctly, I don't think it is productive to spend time investigating the arbitrary ways that your en

[2021-08-30 11:28] islamelgendy opened #442 "Why mutation analysis in EvoSuite takes so much time to finish compared to Randoop?"
Hi there,

I was wondering why the time taken to perform mutation analysis on test suites generated by EvoSuite takes a considerable amount of time compared to test suites generated by Randoop, despite that usually the number of test cases generated by Randoop is much more than those generated by EvoSuite.

Is there an explanation for that?

Thanks and best,
Islam

[2021-09-13 14:54] rjust opened #443 "Triage bug-mining errors"
The initialize-revisions and analyze-project steps are iterative and can produce many warnings or errors, in particular in the first iteration. For example, an unknown project layout error usually applies to many bugs in the same project. Likewise, classpath issues are widespread.

Since many errors have the same root cause, it would be helpful if the bug-mining framework would produce a summary a

[2021-09-23 05:23] poosomooso commented on #353
I'm also running into this problem, where checkout for Jsoup works in some environments and fails in others. It seems, in the instances it fails, a `.gitattributes` file is pulled that enforces LF line endings. I'm not sure why it pulls this file flakily, though.

[2021-09-29 09:44] HautGoduU opened #444 "Configuration error"
Hi，
when I ran "defects4j info -p Lang",I encountered the following errors“Couldn't find project repositories! Did you (re)run 'defects4j/init.sh'?”。I ran “./init.sh “again，but the above errors still exist。How can I solve this problem？

[2021-09-29 20:13] rjust commented on #444
Can you please provide the output of running the `init.sh` script?

[2021-09-30 00:57] HautGoduU commented on #444
thanks for you reply,below is the output after running the init.sh script：
”Setting up project repositories ...

Setting up Major ...
Downloading https://mutation-testing.org/downloads/major-1.3.4_jre7.zip
Downloaded https://mutation-testing.org/downloads/major-1.3.4_jre7.zip

Setting up EvoSuite ...
Downloading https://gh.xiu2.xyz/https://github.com/EvoSuite/evosuite/releases/download/v1.1.0/evos

[2021-09-30 01:05] HautGoduU commented on #444
thanks for you reply,below is the output after running the init.sh script：
![image](https://user-images.githubusercontent.com/38273455/135368923-67845193-99e7-4fb2-92ca-c88002e97cc8.png)

[2021-10-25 15:37] SaliasO opened #446 "mavenized version of the data set"
Hey guys,
I am new to Maven and wanted to ask whether there is a mavenized version of this data set. :-) I want to upload the code into a maven repo and am working with Maven for the first time.

Thank you very much for providing it!

Best regards,
Salih

[2021-10-25 18:05] EhsanMashhadi opened #447 "Bug detection script"
Hi,

I tried to run the dug_detection scrip by following steps:

1) Checking out the Csv 1b project
2) Compile and run tests
Here I see there is 1 failing tests
3) Running bug_detection script following the instruction:
```run_bug_detection.pl -p Csv -d ./suite_dir/ -o ./output -D```

I found these files as logs:

bug_detection:
[code]
run_bug_detection.pl.log
[code]
1b.trigger.log
[code]

Would y

[2021-11-12 17:05] EhsanMashhadi opened #449 "Ant Test Build Failed"
Hi,

I am doing some experiments by using EvoSuite and Defects4J. When I generated tests for ant projects like Chart1b then move the generated test file to the directory containing the proper project cloned by defects4j. It fails to compile the tests:

[code]

Since I am using JAVA1.8 and the JAVA_HOME and PATH variable are set. Would you please help me why it does not work?

[2021-11-17 23:55] rjust commented on #449
Hi @EhsanMashhadi,

The [test-generation script](http://defects4j.org/html_doc/gen_tests.html) produces an archive containing the generated tests. To run/analyze these generated tests, you should call, e.g., `defects4j test -s` or use the [test-execution framework](https://github.com/rjust/defects4j#test-execution-framework).

Merging the generated test files with the developer-written test files

[2021-11-21 00:19] rjust commented on #442
I am closing this issue. Feel free to reopen it (or open a new issue) if you have further questions.

[2021-11-21 00:19] #442 closed

[2021-11-21 00:19] rjust commented on #447
I am closing this issue. Feel free to reopen it (or open a new issue) if you have further questions.

[2021-11-21 00:19] #447 closed

[2021-11-21 00:20] rjust commented on #449
I am closing this issue. Feel free to reopen it (or open a new issue) if you have further questions.

[2021-11-21 00:20] #449 closed

[2021-11-21 00:21] rjust commented on #423
I am closing this issue. Feel free to reopen it (or open a new issue) if you have further questions.

[2021-11-21 00:21] #423 closed

[2021-11-23 10:57] #419 closed

[2021-12-15 17:00] kevinGit777 opened #451 "error when compile bugs"
hi,
I got this message and hope you guys can help me. Thank you so much!
[code]
`
similar things happened in compiling Closure-149

system info:
git version 2.17.1
svn, version 1.9.7 (r1800392)
defect4j up to date

[2021-12-15 17:32] rjust commented on #451
Hi @kevinGit777,

What's the output of the following three commands in your environment:
* `java -version`
* `echo $JAVA_HOME`
* `locale`

Thanks,
René

[2021-12-15 17:38] kevinGit777 commented on #451
hi, @rjust
[code]
I also try using 1.7 for java but same output

[2021-12-20 07:42] DehengYang opened #452 "The patch in `defects4j/framework/projects/Csv/patches/` is reversed"
Dear Authors,

I observed that the patch stored in `defects4j/framework/projects/Csv/patches/` is reversed. For example, the https://github.com/rjust/defects4j/blob/master/framework/projects/Csv/patches/4.src.patch shows that:

[code]

But when I checkout both the buggy and fixed version and `diff` them, the diff is:
[code]

Seemingly other patches the `defects4j/framework/projects/<project>/patch

[2021-12-20 08:01] Greg4cr commented on #452
Hello @DehengYang,

The patches are reversed by design. They transform the _fixed_ version into the _buggy_ version, not the other way around.

The buggy version has the line `return new LinkedHashMap<String, Integer>(this.headerMap);`, while the fixed version has the line `return this.headerMap == null ? null : new LinkedHashMap<String, Integer>(this.headerMap);`. Presumably, the bug relates to t

[2021-12-20 08:01] #452 closed

[2021-12-20 08:05] DehengYang commented on #452
Get it. Thank you @Greg4cr for the prompt reply!

[2021-12-20 08:06] Greg4cr commented on #452
Happy to help, @DehengYang! Please let us know if you have other questions.

[2021-12-20 20:30] rjust commented on #451
I can reproduce the issue when explicitly changing the encoding to ASCII (i.e., changing the build file to use the `encoding` attribute for the javac task.

Is it possible that your environment, before running defects4j, sets the file encoding to ASCII? Is there maybe a properties file that does so?

With the environment that you provided, the following two commands work on my end (and output the

[2021-12-24 15:44] Marvinmw opened #453 "git apply patch error"
Hi, I tried applying the patch files to the buggy versions but I got errors, like "error: patch failed: .... patch does not apply"
I checked the source code and the patch content matches the buggy code.
For example, I apply the following patch to Chart 12 Buggy Version, and the error happens.
[code]

[2021-12-25 10:46] gouxiaodong opened #454 "How to get the coverage of test cases at classes granularity?"
Hello, sir
I'm trying to get the coverage of test cases at classes granularity (i.e., columns are classes and rows are test cases).
Therefore, I tried the following work (taking lang-1b as an example):
(1) First, I used _Understand_  (a static analysis tool) to get all classes of Lang 1b, named 'all_calsses.txt';
(2) I used the [i] option of coverage command to get coverage of 'all_calsses.txt'.
H

[2021-12-25 12:37] mernst commented on #453
You did not provide a specific command that fails.  (Please do so to make our response easier for us and more relevant for you.)

File [`framework/bug-mining/README.md`](https://github.com/rjust/defects4j/blob/master/framework/bug-mining/README.md) says:

Does that help?

[2021-12-27 13:15] Marvinmw commented on #453
Hi, I use git apply $patch_fine_name. I have used dos2unix to covert the line ending in the files.

[2021-12-27 13:53] mernst commented on #453
You didn't answer my question, nor did you provide a complete reproduction of your problem.

I'm closing this issue.

[2021-12-27 13:53] #453 closed

[2021-12-27 17:56] rjust commented on #453
If the error occurs while using a defects4j command, please provide that command.

If the error occurs while using a custom extension to Defects4J, you may want to run `git apply -v` and debug the issue.

Without more context, it is hard for us to offer any help. To me, this looks like an issue unrelated to Defects4J.

[2021-12-28 04:40] rjust commented on #454
Hi @gouxiaodong,

The shared `all_classes.txt` file indeed includes a number of invalid entries (e.g., *org.apache.commons.lang3.ArrayUtils.add.T*); these should be removed. Perhaps this invalid output points to a bug in the used static analysis tool?

The reason for the division-by-zero error is that there are 0 instrumented lines, which is unexpected. Please let us know if this actually happens

[2021-12-29 02:52] QuanjunZhang commented on #446
I hope this repo helps you [D4J_Maven](https://github.com/claudeyj/D4J_Maven).

[2021-12-30 08:56] gouxiaodong commented on #454
Thank you for your attention, @rjust, I will try it again and give you feedback in time once the reason is confirmed.

[2021-12-31 23:47] #433 closed

[2021-12-31 23:55] rjust commented on #446
I am closing this issue. From what I understand, the goal is to ease building all bugs in Defects4J. The `defects4j compile` command does exactly that.

Feel free to reopen the issue with a concrete proposal for (internally) building all bugs in Defects4J with Maven.

[2021-12-31 23:55] #446 closed

[2021-12-31 23:57] rjust commented on #427
@Furqan1990 have you been able to solve this issue on Windows?

[2021-12-31 23:59] #403 closed

[2022-01-01 00:00] rjust commented on #393
I am closing this issue. Feel free to reopen it (or open a new one) if you have further questions about code coverage in Defects4J.

[2022-01-01 00:00] #393 closed

[2022-01-01 00:07] rjust commented on #408
I am closing this issue. Feel free to reopen it (or open a new one) if you have further questions about bug mining  in Defects4J.

For future reference, the updated bug-mining framework supports mapping dependency [URLs ](https://github.com/rjust/defects4j/blob/version-3/framework/util/fix_dependency_urls.patterns) and [declarations](https://github.com/rjust/defects4j/blob/version-3/framework/util

[2022-01-01 00:07] #408 closed

[2022-01-01 00:19] rjust commented on #444
I am closing this issue. Feel free to reopen it (or open a new one) if you are still having trouble initializing Defects4J.

[2022-01-01 00:19] #444 closed

[2022-01-01 01:31] rjust commented on #359
For future reference: the difference in number of generated mutants stems from a difference in what mutation operators (and specific mutations) are enabled. Defects4J uses a [restricted set of mutations](https://github.com/rjust/defects4j/blob/master/major/mml/template.mml). In contrast, -XMutator:ALL uses a larger set of mutations. Calling Major directly, building on top of the same mml file, sho

[2022-01-01 01:31] #359 closed

[2022-01-01 01:33] rjust commented on #353
I wasn't able to reproduce this.

@Greg4cr Have you been successful in reproducing this?

@poosomooso Do you have more information on this?

Thanks,
René

[2022-01-01 01:37] rjust commented on #400
Fixed in version 3.

[2022-01-01 01:37] #400 closed

[2022-01-01 01:48] rjust commented on #428
Related to #427. I am closing this issue.

@Furqan1990 Have you solved this Windows issue, or have you moved to a Unix system?

[2022-01-01 01:48] #428 closed

[2022-01-01 01:51] rjust commented on #415
I am closing this issue. Feel free to reopen it (or open a new one) if you have further specific questions.

[2022-01-01 01:51] #415 closed

[2022-01-01 01:57] #409 closed

[2022-01-03 08:24] Greg4cr commented on #353
@rjust Unfortunately, I have not been able to reproduce this. Just tried again on both of my laptops (Ubuntu, Mac OS).

Haven't tried yet, but we could remove this `.gitattributes` file on checkout and see if that breaks anything.

[2022-01-12 10:42] Danish-Nazir opened #456 "Couldn't find project repositories! Did you (re)run 'defects4j/init.sh'?"
I have unzip repos, I have installed unzip, wget and gcc. I have Uninstalled and Reinstalled it again. now, what do I do?

I am on Macbook pro 2015 OS Monterey 12.1.

Danishs-MacBook-Pro:defects4j Danish$ defects4j info -p Lang
Couldn't find project repositories! Did you (re)run 'defects4j/init.sh'?

Compilation failed in require at /Users/Danish/defects4j/framework/bin/defects4j line 33.
BEGIN fa

[2022-01-14 16:27] juliamanfrindias opened #457 "Target Folder doesn't exist"
I checked out all the bugs, but in some bugs (chart, closure, collections, lang and time) the TARGET FOLDER was not generated. Without this folder I can't use the bug. What Can I do?

[2022-01-14 17:12] mernst commented on #457
To help us understand, reproduce, and fix your problem, could you please provide (as a set of commands that can be cut-and-pasted into a command shell) the exact commands that you ran, and at least one example of a target folder that should exist but does not?
Thanks!

[2022-01-14 19:22] rjust commented on #456
Hi @Danish-Nazir

What content do you see in `defects4j/project_repos`, after running `init.sh`?

[2022-01-15 08:30] Danish-Nazir commented on #456
<img width="1072" alt="Screenshot 2022-01-15 at 1 27 55 PM" src="https://user-images.githubusercontent.com/30548701/149615295-d5767638-4d33-4726-940e-4facd89fd8ae.png">

[2022-01-15 11:38] Danish-Nazir commented on #456
Copied all the Repos to project_repos folder. Set the path and now it works. @rjust Thanks.

[2022-01-15 11:39] #456 closed

[2022-01-17 14:58] regminer opened #458 "distribution of bug types (such as null pointers, API misuse, etc.) in defects4j"
I would like to know if there is a distribution of bug types (such as null pointers, API misuse, etc.) in defects4j stated.

[2022-01-20 07:14] Danish-Nazir opened #459 "major version 52 is newer than 51, the highest major version supported by this compiler."
I am following Major Framework Tutorial Guide. I tried to run a standalone example and I am getting warning.

warning:
<img width="1387" alt="Screenshot 2022-01-20 at 12 04 13 PM" src="https://user-images.githubusercontent.com/30548701/150290115-22d7e97d-7bfb-4575-97b5-9b05c61beb57.png">

Java I am running:
<img width="796" alt="Screenshot 2022-01-20 at 12 08 18 PM" src="https://user-images.github

[2022-01-20 07:19] Danish-Nazir commented on #459
I tried using Java 1.7 but then the Major compiler is not working.

error if I change to 1.7:

<img width="1387" alt="Screenshot 2022-01-20 at 12 18 06 PM" src="https://user-images.githubusercontent.com/30548701/150291489-42853108-5d6d-49ce-9811-ab337acf301a.png">

[2022-01-26 17:07] EhsanMashhadi commented on #209
Hi,

I cannot find the buggy-lines file for all projects. Are these files available for example for the CSV project?

[2022-01-29 16:46] mernst commented on #209
The buggy.lines files for the CSV project are not available in the [fault-localization-data repository's `analysis/pipeline-scripts/buggy-lines/` directory](https://bitbucket.org/rjust/fault-localization-data/src/f4c59a0b98007d30a6e2b2f664e9dca009ac093e/analysis/pipeline-scripts/buggy-lines/?at=master).

However, you can compute them yourself:  they are the lines in the patch.  You can compute the

[2022-01-29 17:10] EhsanMashhadi commented on #209
@mernst Thanks. I will try this script. I have been using a repository miner tool to find the diff between buggy and fixed commits such as  ```D4J_Chart_1_BUGGY_VERSION``` and ```D4J_Chart_1_FIXED_VERSION```. Can I be sure that the method changes between these commits have the same result as finding the buggy lines with your script and then finding the enclosed methods?

[2022-01-29 17:45] mernst commented on #209
They ought to be the same.  They were at one time; I'm not sure whether they have been tested recently.

[2022-01-29 19:49] rjust commented on #209
@EhsanMashhadi

The minimized patch for a program version provided by D4J is identical to the diff between the two tags that you mentioned. Under the hood, the buggy version is derived from applying the minimized, bug-inducing patch to the fixed version.

Depending on your research goals, simply computing buggy or fixed lines, using the scripts provided, may be sufficient. The reason why this can

[2022-01-29 19:55] rjust commented on #459
Hi @Danish-Nazir,

Tl:dr You can ignore the warnings that you are observing  under Java 8. The second attempt used Java 17, not 1.7 -- the reason why Major did not run at all.

A little more background: The integrated version of the Major mutation framework uses a Java-7 compiler for mutant generation. Executing this compiler in a Java 8 JVM results in the warnings and recommendations to upgrade t

[2022-01-29 20:06] rjust commented on #458
There are some classifications based on structure and syntax (e.g., [here](https://bitbucket.org/rjust/fault-localization-data/src/master/d4j_integration/README.md)). You can also find various dissections of the data set (see top-level README).

While NPEs are fairly unambiguous and easy to identify (these are explicitly listed in the trigger-test files), API misuse bugs require a more precise def

[2022-01-31 09:28] monperrus opened #461 "version of Defects4 for Java 11"
Hi @rjust, all!

Java 11 is now well established and has been released more than 3 years ago in September 2018.

Some bugs in Defects4 are not compatible with Java 11 (eg Lang 5x).

What about preparing a version of Defects4 for Java 11?

cc/ @martinezmatias @sophiehye

[2022-02-03 08:30] monperrus commented on #461
FTR, I have successfully ported four old Lang bugs to Java 11+: Lang44, Lang51, Lang53, Lang58

https://github.com/Spirals-Team/defects4j-repair/tree/Lang53-Java6
https://github.com/Spirals-Team/defects4j-repair/tree/Lang53-Java6
https://github.com/Spirals-Team/defects4j-repair/tree/Lang53-Java6
https://github.com/Spirals-Team/defects4j-repair/tree/Lang53-Java6

We use them in the CI of Nopol to m

[2022-02-16 16:32] jose opened #464 "`test` does not run successfully on Mockito bugs"
I am either doing something wrong or `Mockito` is broken.  The [Defects4j's `test` command](https://github.com/rjust/defects4j/blob/master/framework/bin/d4j/d4j-test) does not seem to be working properly.

------------------

### "The class org.apache.tools.ant.taskdefs.optional.junit.JUnitTask was not found"

#### Environment

[code]

#### Step-by-step

[code]

-----------------------------------

[2022-02-16 16:58] jose commented on #464
Well, it seems the problems were due to Ant.

- I got the `The class org.apache.tools.ant.taskdefs.optional.junit.JUnitTask was not found` error with `Ant v1.9.4 (November 5 2018)`.
- I got the `java.lang.NoClassDefFoundError: junit/framework/JUnit4TestAdapterCache` error with `Ant v1.10.7 (October 24 2019)`.

I've just updated Ant to its latest version (i.e., 1.10.12) on both machines, re-run bot

[2022-02-17 09:24] Agambale opened #465 "Project version recovery"
Hi, I'm a computer science student. I am conducting a study on Defects4J for my thesis. I exported the bug data of each system in CSV format, via the scripts offered by Defects4J.
To continue my study I would need to retrieve the source code of each system version.
Having failed to find them all online.
My request is:

"Does Defects4J offer the possibility to download these versions for each Proje

[2022-02-19 21:23] bdqnghi opened #466 "How to apply patchs provided by my APR technique and validate against the test cases?"
Hi, I find it hard to understand how to apply patch to the current system. According to my understanding, the steps to apply patch should be like this:
1) The Automated Program Repair tool provides patch for a buggy file (say a new technique that i have just invented). Take an example concretely, the tool can provide patch for project Lang, bug id 1.
2) Apply the patch to bug 1 in project Lang.
3)

[2022-02-21 20:33] bkushigian opened #468 "Invalid classpaths exported from some projects"
# Problem
When running `defects4j export -pcp.test` I am getting some classpath entries such as:

[code]

# Reproducing
[code]

# Extra info
Output of `defects4j env`
[code]

I've also reproduced this with Bash (in case it was a shell issue for some reason?)

# Other projects
I've also run into this with `Compress-47f`

[2022-02-22 20:38] Danish-Nazir opened #469 "Reference to run.dev.tests"
I am trying to understand what is run.dev.tests referencing when being passed to _ant_call_comp subroutine. Is it a target in a build file? I wanted to access its code if it's a target. I am new to Perl so it's a bit confusing for me. Can anyone please point me in the direction of what is being passed or called here?

<img width="922" alt="Screenshot 2022-02-23 at 1 26 22 AM" src="https://user-ima

[2022-02-22 20:39] #459 closed

[2022-02-23 08:23] Danish-Nazir commented on #469
https://stackoverflow.com/questions/71233390/defects4j-what-is-run-dev-tests-referencing-to

I have dropped the question in Stackoverflow aswell.

[2022-02-23 13:45] rjust commented on #469
Hi @Danish-Nazir,

`run.dev.tests ` is the name of a [target in the top-level build file](https://github.com/rjust/defects4j/blob/master/framework/projects/defects4j.build.xml#L106).

Hope this helps.

Best,
René

[2022-02-23 16:51] EhsanMashhadi commented on #209
@mernst @rjust Thanks for the answers. It solved my problem.

[2022-02-23 19:55] Danish-Nazir commented on #469
Thank you René.

[2022-02-23 19:55] #469 closed

[2022-02-26 15:32] rjust commented on #465
Hi @Agambale,

Can you please clarify what exactly you are trying to download?

The `defects4j checkout` command  provides the source code for each project version. Additionally, you can find the underlying vcs repository for each project under *project_repos*.

[2022-02-26 15:55] rjust commented on #468
The classpath export for Cli, Compress, and JacksonXml is fixed in the `export-cp` branch. (related to #429)

[2022-02-26 15:55] #468 closed

[2022-02-26 15:57] rjust commented on #429
The classpath export for Cli, Compress, and JacksonXml is fixed in the `export-cp` branch. We will integrate these changes into the main branch for the next release.

[2022-02-27 00:52] rjust commented on #464
Hi @jose,

While D4J ships its own version of Ant (as part of the Major mutation framework), a system installation will take precedence. This is something we changed for version 2.0.0 to give users more flexibility in configuring Ant.

It looks like both of your previous Ant installations were missing JUnit on its boot classpath. Perhaps we should check whether Ant is installed/configured correctl

[2022-02-27 19:09] rjust commented on #133
The classpath export for all projects is fixed in the export-cp branch. We will integrate these changes into the main branch for the next release.

[2022-02-27 19:09] #133 closed

[2022-03-29 11:20] DehengYang commented on #353
I have encountered the same problem on my server (ubuntu 16.04). I guess this is caused by unstaged changes in Jsoup git. My workaround is to revise the `defects4j/framework/core/Vcs/Git.pm` https://github.com/rjust/defects4j/blob/74b5b81ba6a3de794b16b8503b88b9f6788d93fb/framework/core/Vcs/Git.pm#L49

into:
[code]

[2022-04-08 13:26] xtt5480446 opened #473 "problem with initialize-revisions.pl"
Hi, I'm using the bug mining shell to add new bugs. I followed the steps in the readme.md

The first step is ok:

Configuring project for Defects4J.......................................... OK
Collecting all issues from the project issue tracker....................... OK
Collecting repository log.................................................. OK
Cross-referencing the commit log with the issue n

[2022-04-08 14:05] xtt5480446 commented on #473
sorry, i make a mistake here: BUG_FIX_REGEX="/(CODEC-\d+)/mi". (CODEC->LOG4J2).
This issue could be closed.

[2022-04-08 14:05] #473 closed

[2022-04-09 12:58] xtt5480446 opened #474 "issues of bug mining"
hi, i followed readme of mining new defects.
the first step is correct.

PROJECT_NAME="commons-codec"
REPOSITORY_URL="https://github.com/apache/commons-codec.git"
ISSUE_TRACKER_NAME="jira"
ISSUE_TRACKER_PROJECT_ID="CODEC"
BUG_FIX_REGEX="/(CODEC-\d+)/mi"
WORK_DIR="/home/ubuntu2004/Downloads/git/defects4j/project_repos/codec"

                                           -n $PROJECT_NAME \

[2022-04-10 02:36] xtt5480446 commented on #474
i found the cause it that the first line and second line in the active_bugs.csv are repeated. After deleting the first line, the error disappears. Maybe it exists some strange bug that i didn't localize

[2022-04-10 02:36] #474 closed

[2022-04-14 03:33] SZTankWang opened #475 "Test Result Different (JUnitCore VS Defects4j test)"
Hi:
I am currently using defects4j and GZoltar together to evaluate the performance of fault localization. Therefore, I referred to the experiment setup in [Evaluating and Improving Fault Localization Techniques](https://bitbucket.org/rjust/fault-localization-data/src/626c8b83e08248df2ebe91884cdc0978a24623f5/).

Currently, I am facing the problem that additional test cases are failing when ran in